
<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"BABY"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <div class="ion-text-center">
    <img class="pic" src="../assets/arabic.png ">
  </div>

<div class="arabic-designs-slides">
  <ion-slides [options]="option">
    
    <ion-slide (click) ="editImage('assets/designs/21.png')">
      <ion-card>
        <img src="../assets/designs/21.png">
      </ion-card>
    </ion-slide>

    



    <ion-slide (click) ="editImage('assets/designs/shower1.PNG')">
      <ion-card>
        <img src="../assets/designs/shower1.PNG">
      </ion-card>
    </ion-slide>



    <ion-slide (click) ="editImage('assets/designs/shower2.PNG')">
      <ion-card>
        <img src="../assets/designs/shower2.PNG">
      </ion-card>
    </ion-slide>



    <ion-slide (click) ="editImage('assets/designs/shower3.PNG')">
      <ion-card>
        <img src="../assets/designs/shower3.PNG">
      </ion-card>
    </ion-slide>



    <ion-slide (click) ="editImage('assets/designs/shower4.PNG')">
      <ion-card>
        <img src="../assets/designs/shower4.PNG">
      </ion-card>
    </ion-slide>




    <ion-slide (click) ="editImage('assets/designs/shower5.PNG')">
      <ion-card>
        <img src="../assets/designs/shower5.PNG">
      </ion-card>
    </ion-slide>

    

    <ion-slide (click) ="editImage('assets/designs/shower6.PNG')">
      <ion-card>
        <img src="../assets/designs/shower6.PNG">
      </ion-card>
    </ion-slide>




</ion-slides>
</div>
  

<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>

<div class="english-designs-slides">
  <ion-slides [options]="option">
      
    <ion-slide (click) ="editImage('assets/designs/Babyr4545.png')">
      <ion-card>
        <img src="../assets/designs/Babyr4545.png">
      </ion-card>
    </ion-slide>  
   

        

    <ion-slide (click) ="editImage('assets/designs/shower7.PNG')">
      <ion-card>
        <img src="../assets/designs/shower7.PNG">
      </ion-card>
    </ion-slide>
  
    

    <ion-slide (click) ="editImage('assets/designs/shower8.PNG')">
      <ion-card>
        <img src="../assets/designs/shower8.PNG">
      </ion-card>
    </ion-slide>


    

    <ion-slide (click) ="editImage('assets/designs/shower9.PNG')">
      <ion-card>
        <img src="../assets/designs/shower9.PNG">
      </ion-card>
    </ion-slide>



    

    <ion-slide (click) ="editImage('assets/designs/shower10.PNG')">
      <ion-card>
        <img src="../assets/designs/shower10.PNG">
      </ion-card>
    </ion-slide>




        

    <ion-slide (click) ="editImage('assets/designs/shower11.PNG')">
      <ion-card>
        <img src="../assets/designs/shower11.PNG">
      </ion-card>
    </ion-slide>



    

    <ion-slide (click) ="editImage('assets/designs/shower12.PNG')">
      <ion-card>
        <img src="../assets/designs/shower12.PNG">
      </ion-card>
    </ion-slide>


  </ion-slides>
</div>
        
</ion-content>  