$white-color: #fff;
$height100: 100%;


ion-item {
  //--border-color: var(--ion-color-danger, #f1453d);
  --highlight-color-focused: #fff;
}


ion-toolbar{
  --opacity:0 !important;
  }

ion-content{
  --background: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://cdn.pixabay.com/photo/2016/12/14/03/42/volcano-1905556_960_720.jpg');
 }

ion-col{
  padding: 0px !important;
}
ion-list {
 --ion-item-background: transparent;
}

.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
}

.login-logo img {
  max-width: 100px;
}

.list {
  margin-bottom: 0;
}


ion-button {
  font-weight: 300;
}

//######## default screen ########//

ion-grid {
    width:100%;
    height: $height100;
    //background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
  min-width: 450px;
    padding: 30px !important;
    border: 1px solid #00000003; //1px solid #488aff;
    background-color: rgba(0, 0, 0, 0.11);
    border-radius: 8px;
}
.list-width{
  width: 450px !important;
  
}


//######## mobile screen ########//
@media (min-width: 240px) and (max-width: 768px) {

    ion-grid {
        //background: $white-color;
    }
    ion-col {
     // min-width: 450px;
        min-height: 650px;
        border: none;
        //height: 450px !important;
        background: transparent;
        border-radius: 0px;
    }
}