<!-- <ion-content  no-padding fullscreen=true (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition"> -->

<ion-content fullscreen="true" (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">
    <ion-header class="ion-no-border" slot="fixed">
        <ion-toolbar class="first" [class.show-background]="showToolbar">
            <ion-buttons mode="md" slot="start">
                <ion-back-button  color="light" defaultHref="#"></ion-back-button>
            </ion-buttons>

            <ion-title color="light" class="main-header4">Detail</ion-title>

            <ion-buttons color="light" slot="end">
                <ion-button color="light">
                    <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>



    <!--*********** Image header  ***********-->
    <div class="detail-header" [ngStyle]="{'background-image': 'url(' + (place | async)?.image_header + ')'}">
    </div>



    <ion-grid fixed class="ion-no-padding">

    <!--*********** Title  ***********-->

    <div class="travel_space1">
        <ion-item lines="none">
            <ion-label text-wrap>
                <h1 class="travel_header1 detail-name">{{(place | async)?.name}}</h1>
                <ion-text color="medium">
                    <h2 class="travel_header3 detail-price"> {{(place | async)?.short_description}}</h2>
                </ion-text>
            </ion-label>
            <div slot="end">
                <ion-icon style="font-size: 18px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]"
                    [name]="i < (place | async)?.rating  ? 'star' : 'star-outline'"></ion-icon>
            </div>
        </ion-item>
    </div>


    <ion-row>
        <ion-col size-lg="8" size-md="12" size-sm="12" size="12">
            <!--*********** Tag  ***********-->

            <div class="horizontal-scroll ion-margin-bottom">
                <ion-chip *ngFor="let tag of (place | async)?.tag" [color]="tag.color" outline=true>
                    <div>
                        <ion-label>{{tag.name}}</ion-label>
                    </div>
                </ion-chip>

            </div>
            <!--*********** Description ***********-->
            <div class="travel_space4">
                <p>
                    {{(place | async)?.description}}
                </p>
            </div>

            <!--*********** Image gallery ***********-->
            <div class="detail-horizontal-scroll ion-margin-top ion-margin-bottom">
                <div class="img-gallery margin" *ngFor="let image of (place | async)?.images ,let i = index">
                    <img [src]="image" (click)="openImageViewer(i)" />
                </div>
            </div>

        </ion-col>
        <ion-col size-lg="4" size-md="12" size-sm="12" size="12">
            <!--*********** Contact  ***********-->

            <div class=" ion-margin-bottom">

                <!--  -->
                <ion-item lines="none">
                    <h1 class="main-header5">Contact</h1>
                </ion-item>
                <div class="ion-margin-top ion-margin-bottom">
                    <!--  -->
                    <ion-item lines="none">
                        <ion-icon slot="start" name="location-outline"></ion-icon>
                        <ion-label>
                            <h2>{{(place | async)?.contact_info.address}}</h2>
                            <p>Address</p>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-icon slot="start" name="mail-outline"></ion-icon>
                        <ion-label>
                            <h2>{{(place | async)?.contact_info.email}}</h2>
                            <p>Email</p>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-icon slot="start" name="call-outline"></ion-icon>
                        <ion-label>
                            <h2>+{{(place | async)?.contact_info.phone}}</h2>
                            <p>Phone number</p>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-icon slot="start" name="globe-outline"></ion-icon>
                        <ion-label>
                            <h2>{{(place | async)?.contact_info.website}}</h2>
                            <p>Website</p>
                        </ion-label>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-icon slot="start" name="calendar-outline"></ion-icon>
                        <ion-label>
                            <h2>{{(place | async)?.opening}}</h2>
                            <p>Openning time</p>
                        </ion-label>
                    </ion-item>

                </div>
                <!--  -->

            </div>
        </ion-col>
    </ion-row>          






    <!--*********** Map  ***********-->


    <!--*********** Replace your google map API key  ***********-->
    <!-- <div *ngIf="(place | async) as categoryId" (click)="openMap(categoryId.travel_categoryId)"> </div> -->
        <!-- <img tappable class="team"
            src="https://maps.googleapis.com/maps/api/staticmap?center={{(place | async)?.lat}},{{(place | async)?.lng}}&zoom=15&scale=2&size=300x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0088f2%7Clabel:%7C{{(place | async)?.lat}},{{(place | async)?.lng}}&key=AIzaSyBnF4f6Yhm2ZyNErzov2AUXYw750Irqmtw" /> -->
   
    <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center={{(item | async)?.lat}},{{(item | async)?.lng}}&zoom=15&scale=2&size=300x150&maptype=roadmap&format=png&visual_refresh=true&markers=color:0xff0000%7Clabel:%7C{{(item | async)?.lat}},{{(item | async)?.lng}}&key=AIzaSyCk9dyMmpKiqGrNmC89n8Voy_Xd7OveiMo"/> -->

    <!-- <img src="https://maps.googleapis.com/maps/api/staticmap?center={{(item | async)?.lat}},{{(item | async)?.lng}}&zoom=15&scale=2&size=300x150&maptype=roadmap&format=png&visual_refresh=true&markers=color:0xff0000%7Clabel:%7C{{(item | async)?.lat}},{{(item | async)?.lng}}&key=YOUR_API_KEY"/> -->





    <!--*********** Review  ***********-->
    <!-- <div class="margin-bottom-10">
          <ion-item lines="none"  class="" >
                  <h1 class="travel_header2">Review</h1>
                 
              <ion-button fill="none" slot="end" color="secondary" >View all</ion-button>
          </ion-item>
  </div> -->

    <!-- 
  <ion-card class="" *ngFor="let review of reviews | async" >
      <ion-item  lines="none" detail="false">
          <ion-avatar slot="start" class="avatar-top">
              <ion-img [src]="review.userProfileImage"></ion-img>
          </ion-avatar>
          <ion-label >
              <h2>{{review.name}}</h2>
              <p> {{review.createdTime.toDate() | date: 'dd/MM/yyyy'}}</p>
          </ion-label>
          <ion-label text-right slot="end" >            
              <ion-icon  style="margin-right:2px; font-size: 14px !important;" color="warning" *ngFor="let i of [0,1,2,3,4]" [name]="i < review.rating ?  'star' : 'star-outline'"></ion-icon>
          </ion-label>
          
      </ion-item>
      
      <ion-card-content>`
          {{review.comment}}
      </ion-card-content>
  </ion-card> -->


    <!-- <div class="ion-margin">
      <ion-button expand="block"  color="orange"  class="team" (click)="openAddReview()">Write a review</ion-button>
  </div>
  <div style="height: 85px;"></div> -->


</ion-grid>
</ion-content>