<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"WEDDING"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <!-- if needed we will seperate arabic and english
  <div class="ion-text-center">
    <img class="pic" src="../assets/arabic.png ">
  </div>
  -->

<div class="arabic-designs-slides">
  <ion-slides [options]="option">
    <ion-slide (click) ="editImage('assets/designs/design8.png')">
      <ion-card>
        <img src="../assets/designs/design8.png">
      </ion-card>
    </ion-slide>
  
    <ion-slide (click) ="editImage('assets/designs/design9.png')">
      <ion-card>
        <img src="../assets/designs/design9.png">
      </ion-card>
    </ion-slide>
  
    <ion-slide (click) ="editImage('assets/designs/design12.png')">
      <ion-card>
        <img src="../assets/designs/design12.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/design16.png')">
      <ion-card>
        <img src="../assets/designs/design16.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/design17.png')">
      <ion-card>
        <img src="../assets/designs/design17.png">
      </ion-card>
    </ion-slide>
  

    <ion-slide (click) ="editImage('assets/designs/rose 9808.png')">
      <ion-card>
        <img src="../assets/designs/rose 9808.png">
      </ion-card>
    </ion-slide>


    
    <ion-slide (click) ="editImage('assets/designs/jkuhluhol.png')">
      <ion-card>
        <img src="../assets/designs/jkuhluhol.png">
      </ion-card>
    </ion-slide>



    
    <ion-slide (click) ="editImage('assets/designs/rose525.png')">
      <ion-card>
        <img src="../assets/designs/rose525.png">
      </ion-card>
    </ion-slide>



    
    <ion-slide (click) ="editImage('assets/designs/MRS1213221.png')">
      <ion-card>
        <img src="../assets/designs/MRS1213221.png">
      </ion-card>
    </ion-slide>



    
    <ion-slide (click) ="editImage('assets/designs/ghjhgj.png')">
      <ion-card>
        <img src="../assets/designs/ghjhgj.png">
      </ion-card>
    </ion-slide>



    
    <ion-slide (click) ="editImage('assets/designs/rose67.png')">
      <ion-card>
        <img src="../assets/designs/rose67.png">
      </ion-card>
    </ion-slide>
  
    <ion-slide (click) ="editImage('assets/designs/rose435.png')">
      <ion-card>
        <img src="../assets/designs/rose435.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/cake34.png')">
      <ion-card>
        <img src="../assets/designs/cake34.png">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/rose43534.png')">
      <ion-card>
        <img src="../assets/designs/rose43534.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/MESSAGE4535.png')">
      <ion-card>
        <img src="../assets/designs/MESSAGE4535.png">
      </ion-card>
    </ion-slide>




</ion-slides>
</div>
  
        
</ion-content>  