
<ion-header >
  <ion-toolbar color="pumpkin">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen={true}>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <div>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col size="8">
        <div>
          2 of 3 (wider)
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          2 of 3 (wider)
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col size="auto">
        <div>
          Variable width content
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="auto">
        <div>
          <ion-input placeholder="Variable width input"></ion-input>
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>






  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div>
          1 of 4
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          2 of 4
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          3 of 4
        </div>
      </ion-col>
      <ion-col size="4">
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 3</div>
      </ion-col>
      <ion-col col-6>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <div>1 of 3</div>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset-4>
        <div>1 of 2</div>
      </ion-col>
      <ion-col>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 2</div>
      </ion-col>
      <ion-col offset-4>
        <div>2 of 2</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>1 of 4</div>
      </ion-col>
      <ion-col>
        <div>2 of 4</div>
      </ion-col>
      <ion-col>
        <div>3 of 4</div>
      </ion-col>
      <ion-col>
        <div>4 of 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>