<!--Information page -->

<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"INFO"|translate}}</ion-title>
  </ion-toolbar> 
  </ion-header>
  

  
  <ion-content  class="backg" >
   
  


     <!-- The first card contain general questions about the application -->
     <ion-card>
      <ion-card-header class="sizecenter" color="amethyst"> {{"Question"|translate}} </ion-card-header>
      <img src='../../assets/Course app-amico.svg'> 
      
      <ion-card-subtitle  class="ion-text-center">
       
       <p>
        <ion-text class="sizeText" color="black">
          {{"Q1"|translate}}
       </ion-text>
       </p>
    
       <p>
       <ion-text color="wisteria" class="sizeText">
        {{"Answer1"|translate}}
       </ion-text>
      </p>
     
      <p>
       <ion-text class="sizeText" color="black">
        {{"QR1question"|translate}}       </ion-text>
      </p>
   
      <p>
       <ion-text color="wisteria" class="sizeText">
        {{"QR1answer"|translate}}       </ion-text>
      </p>
      <p>
        <ion-text class="sizeText" color="black">
         {{"QR2question"|translate}}       </ion-text>
       </p>
    
       <p>
        <ion-text color="wisteria" class="sizeText">
         {{"QR2answer"|translate}}       </ion-text>
       </p>

     </ion-card-subtitle>
     </ion-card>
          
      <!-- The second card contain information about the TEAM -->

      <ion-card>
     <ion-card-header  class="sizecenter" color="amethyst">{{"Q3"|translate}} </ion-card-header>
  
     <img src='../../assets/At the office-amico.svg'>
  
    <ion-card-subtitle  class="ion-text-center"  > 
      <ion-text class="sizeText" color= "wisteria">
        {{"Answer3"|translate}}
    </ion-text></ion-card-subtitle>
    </ion-card> <!--End of the  card-->
  
     

  </ion-content>
  
  <!--footer of the page -->
  <ion-footer>
  <div class="sign-in-hr">
  <p><span><ion-text  horizontal ="end" vertical="center">
    {{"TEAM"|translate}}
  </ion-text></span></p></div>
  </ion-footer>