//.content {
  // background-color: #3465a4;
//}


//Fullscreen animated rainbow gradient
//  ion-content {
//   background: linear-gradient(316deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
//   background-size: 1800% 1800%;
//   -webkit-animation: rainbow 30s linear infinite;
//   animation: rainbow 30s linear infinite;

// }
// @keyframes rainbow {
//   0% {
//     background-position: 0% 0%
//   }
//   50% {
//     background-position: 100% 100%
//   }
//   100% {
//     background-position: 0% 0%
//   }
// }
ion-slides {
  height: 100%;
  width: 100%;
}
.image-slide {
  max-width: 100vw !important;
  max-height: 100vh !important;
}
ion-toolbar.first {
  --background: transparent;
  --ion-color-base: transparent !important;
}

.intro-box {
  padding-top: 3vh;
}
.swiper-pagination-bullet-active {
  background: #ccc;
}

.slide-zoom {
  height: 100%;
}
.slide-title {
  margin-top: 2.8rem;
  background-color: #ffffff42; 
}
.slide-image {
  // max-height: 30%;
  // max-width: 40%;
  margin: 18px 0;
  // -webkit-filter: drop-shadow(5px 5px 5px rgba(50, 50, 50, 0.68));
  // filter: drop-shadow(5px 5px 5px rgba(50, 50, 50, 0.68));
}
.swiper-slide img {
  width: auto;
  max-width: 70%;
  height: auto;
  max-height: 70%;
}

b {
  font-weight: 500;
}
h1 {
  color: rgb(44, 30, 30);
  font-weight: 300 !important;
  font-size: 24px !important;
}
h2 {
  color: rgb(44, 30, 30);
  font-weight: 300 !important;
  font-size: 24px !important;
}
h1 {
  color: #333 !important;
  font-weight: 300 !important;
  font-size: 24px !important;
}
h3 {
  color: #333 !important;
  font-weight: 300 !important;
  font-size: 24px !important;
}
p {
  padding: 0 40px;
  font-weight: 300 !important;
  font-size: 0.9em;
  line-height: 1.5;
  color: rgb(51, 36, 36);

  b {
    color: #ffeb3b;
  }
}

ion-toolbar.first {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-slides{
  --bullet-background: #fff !important;
  --bullet-background-activ: #ffeb3b !important;
  --progress-bar-background: #fff !important;
  --progress-bar-background-active: #ffeb3b !important;
  --background: none;
  background-position: center center;
  background-size: fixed;
  background-repeat: no-repeat;
  background-image: url('../../../assets/WhatsApp Image 2021-10-06 at 7.26.32 AM.jpeg');
  //opacity: 0.7;


 }

 
