<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"FRIDAY"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  color="light" text=" "  ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg">

  <!--This part to show arabic designs-->
  <div class="ion-text-center">
    <img class="pic" src="../assets/ar.png ">
  </div>

<div class="arabic-designs-slides">
<ion-slides [options]="option">


  <ion-slide (click) ="editImage('assets/designs/3.jpg')">
    <ion-card>
      <img src="../assets/designs/3.jpg">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/wrtnIslamic.png')">
    <ion-card>
      <img src="../assets/designs/wrtnIslamic.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/wrtnIslamic52.png')">
    <ion-card>
      <img src="../assets/designs/wrtnIslamic52.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/Fridaywrtn132.png')">
    <ion-card>
      <img src="../assets/designs/Fridaywrtn132.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday1.jpg')">
    <ion-card>
      <img src="../assets/designs/friday1.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday2.jpg')">
    <ion-card>
      <img src="../assets/designs/friday2.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday3.jpg')">
    <ion-card>
      <img src="../assets/designs/friday3.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday4.jpg')">
    <ion-card>
      <img src="../assets/designs/friday4.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday5.jpg')">
    <ion-card>
      <img src="../assets/designs/friday5.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday6.jpg')">
    <ion-card>
      <img src="../assets/designs/friday6.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday7.jpg')">
    <ion-card>
      <img src="../assets/designs/friday7.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday8.jpg')">
    <ion-card>
      <img src="../assets/designs/friday8.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday9.jpg')">
    <ion-card>
      <img src="../assets/designs/friday9.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday10.jpg')">
    <ion-card>
      <img src="../assets/designs/friday10.jpg">
    </ion-card>
  </ion-slide>

</ion-slides>
</div>    
        
<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>


<div class="english-designs-slides">
  <ion-slides [options]="option">

    <ion-slide (click) ="editImage('assets/designs/friday11.jpg')">
      <ion-card>
        <img src="../assets/designs/friday11.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/friday12.jpg')">
      <ion-card>
        <img src="../assets/designs/friday12.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/friday13.jpg')">
      <ion-card>
        <img src="../assets/designs/friday13.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/friday14.jpg')">
      <ion-card>
        <img src="../assets/designs/friday14.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/friday15.jpg')">
      <ion-card>
        <img src="../assets/designs/friday15.jpg">
      </ion-card>
    </ion-slide>





    <ion-slide (click) ="editImage('assets/designs/wr13.JPG')">
      <ion-card>
        <img src="../assets/designs/wr13.JPG">
      </ion-card>
    </ion-slide>





    
    <ion-slide (click) ="editImage('assets/designs/wr14.JPG')">
      <ion-card>
        <img src="../assets/designs/wr14.JPG">
      </ion-card>
    </ion-slide>












  </ion-slides>
</div>
            
</ion-content>
  