
<ion-content padding>
  <ion-grid fixed class="ion-no-padding">
    <div class="logo-box">
      <ion-icon class="notification pop-in" name="checkmark-circle-outline" color="warning"></ion-icon>

    </div>
    <div class="ion-text-center">
      <ion-text color="grey" class="ion-margin-bottom">
        <h1 class="main-header4">Your order has been completed.</h1>
      </ion-text>
    </div>
    <div>
      <!-- <ion-button color="grey" routerLink="/shopping-address">View my order</ion-button> -->
      <ion-button color="grey" fill="blank" expand="full" routerLink="/shopping-home">Continue shopping</ion-button>
      <!-- <ion-button color="light" expand="full" routerLink="/shopping-address">My orders</ion-button> -->
      <!-- <ion-button color="dark" fill="blank" expand="full" routerLink="/side-menu/shopping/tabs/tab1">Continue shopping</ion-button> -->
    </div>
  </ion-grid>
</ion-content>
