
<ion-header >
  <ion-toolbar color="medium">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">عيد الاضحى </ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="black" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  <div class="arabic-designs-slides">
    <ion-slides [options]="option">



      <ion-slide (click) ="editImage('assets/designs/4.jpg')">
        <ion-card>
          <img src="../assets/designs/4.jpg">
        </ion-card>
      </ion-slide>




    
      <ion-slide (click) ="editImage('assets/designs/13.jpg')">
        <ion-card>
          <img src="../assets/designs/13.jpg">
        </ion-card>
      </ion-slide>



      <ion-slide (click) ="editImage('assets/designs/14.jpg')">
        <ion-card>
          <img src="../assets/designs/14.jpg">
        </ion-card>
      </ion-slide>





      <ion-slide (click) ="editImage('assets/designs/15.jpg')">
        <ion-card>
          <img src="../assets/designs/15.jpg">
        </ion-card>
      </ion-slide>



      <ion-slide (click) ="editImage('assets/designs/17.jpg')">
        <ion-card>
          <img src="../assets/designs/17.jpg">
        </ion-card>
      </ion-slide>







    </ion-slides>


  </div>    
          
  </ion-content>  