#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.scroll-content {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.place-detail {
  //display: block;
  background-color: none;

  position: absolute;
  padding: 0px;
  bottom: 5px;
  height: 150px;
  width: 350px;
  z-index: 99;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

ion-thumbnail {
  --size: 80px;
  // width: 104px !important;
  // height: 75px !important;
  // margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 8px !important;
  background-color: #dddddd;
  // min-width: 6rem;
  // min-height: 8rem;
  min-width: 6rem;
  min-height: 7rem;
  // margin-left: 24px;
  ion-img {
    //border-radius: 8px  !important;
    // max-width: 6rem;
    // min-width: 8rem;
  }
}
ion-label {
  margin: 0px 5px 0px;
}
ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
  border-radius: 5px !important;
}

.effect6 {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
