
<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"HENNA"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <div class="ion-text-center">
    <img class="pic" src="../assets/arabic.png ">
  </div>

<div class="arabic-designs-slides">
  <ion-slides [options]="option">

    <ion-slide (click) ="editImage('assets/designs/24.png')">
      <ion-card>
        <img src="../assets/designs/24.png">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/henna1.jpg')">
      <ion-card>
        <img src="../assets/designs/henna1.jpg">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/henna2.jpg')">
      <ion-card>
        <img src="../assets/designs/henna2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/henna3.jpg')">
      <ion-card>
        <img src="../assets/designs/henna3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/henna4.jpg')">
      <ion-card>
        <img src="../assets/designs/henna4.jpg">
      </ion-card>
    </ion-slide>
<!--
    <ion-slide (click) ="editImage('assets/designs/henna5.jpg')">
      <ion-card>
        <img src="../assets/designs/henna5.jpg">
      </ion-card>
    </ion-slide>
-->

    <ion-slide (click) ="editImage('assets/designs/henna6.jpg')">
      <ion-card>
        <img src="../assets/designs/henna6.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/henna7.jpg')">
      <ion-card>
        <img src="../assets/designs/henna7.jpg">
      </ion-card>
    </ion-slide>
  

    <ion-slide (click) ="editImage('assets/designs/henna8.jpg')">
      <ion-card>
        <img src="../assets/designs/henna8.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/henna9.jpg')">
      <ion-card>
        <img src="../assets/designs/henna9.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/henna10.jpg')">
      <ion-card>
        <img src="../assets/designs/henna10.jpg">
      </ion-card>
    </ion-slide>
    

</ion-slides>
</div>
  

<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>

<div class="english-designs-slides">
  <ion-slides [options]="option">

    
    <ion-slide (click) ="editImage('assets/designs/henna11.jpg')">
      <ion-card>
        <img src="../assets/designs/henna11.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/henna12.jpg')">
      <ion-card>
        <img src="../assets/designs/henna12.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/henna13.jpg')">
      <ion-card>
        <img src="../assets/designs/henna13.jpg">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/henna14.jpg')">
      <ion-card>
        <img src="../assets/designs/henna14.jpg">
      </ion-card>
    </ion-slide>


  </ion-slides>
</div>
        
</ion-content>  