<ion-header >
  <ion-toolbar color="pumpkin">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Toolbar</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content fullscreen="true">
  <!-- ############## -->

    <ion-toolbar>
      <ion-title color="pumpkin" size="large">Toolbar</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>




  
  <!-- ############## -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Standard</ion-title>
  </ion-toolbar>

  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        Clear
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        Done
      </ion-button>
    </ion-buttons>

    <ion-title>Buttons</ion-title>
  </ion-toolbar>

  <!-- ############## -->

  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">All</ion-segment-button>
      <ion-segment-button value="favorites">Favorites</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- ############## -->
  <ion-toolbar>
    <ion-title>Progress</ion-title>

    <ion-progress-bar value=".4"></ion-progress-bar>
  </ion-toolbar>

  <!-- ############## -->
  <ion-toolbar color="primary">
    <ion-title>Primary</ion-title>
  </ion-toolbar>

  <!-- ############## -->
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>Tertiary</ion-title>
  </ion-toolbar>

  <!-- ############## -->
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon
          slot="icon-only"
          ios="ellipsis-vertical"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Danger</ion-title>
  </ion-toolbar>

  <!-- ############## -->

    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button>
          Edit
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="add-outline"
            md="add-sharp"
          ></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Page title</ion-title>
    </ion-toolbar>


  <!-- ############## -->

    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-back-button defaultHref="#" text={ ios ? 'February' : ''}></ion-back-button> -->
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="list-outline"
            md="list-sharp"
          ></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="search-outline"
            md="search-sharp"
          ></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="add-outline"
            md="add-sharp"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


  <!-- ############## -->

    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="heart-outline"
            md="heart-sharp"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="search-outline"
            md="search-sharp"
          ></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Page title</ion-title>
    </ion-toolbar>


  <!-- ############## -->

    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button>
          Reset
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          Done
        </ion-button>
      </ion-buttons>

      <ion-title>Page title</ion-title>
    </ion-toolbar>


  <!-- ############## -->

    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-back-button defaultHref="#" text={ ios ? 'Notes' : ''}></ion-back-button> -->
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="share-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


  <!-- ############## -->

    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-menu-button autoHide={false}></ion-menu-button> -->
      </ion-buttons>

      <ion-title>Page title</ion-title>
    </ion-toolbar>


  <!-- ############## -->

    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="#"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
            slot="icon-only"
            ios="star-outline"
            md="star-sharp"
          ></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Page title</ion-title>
    </ion-toolbar>


  <!-- ############## -->


    <ion-toolbar>
      <ion-title>Page title</ion-title>

      <!-- <ion-progress-bar value={.4}></ion-progress-bar> -->
    </ion-toolbar>


  <!-- ############## -->
  <!-- ############## -->
  <!-- ############## -->
  <!-- ############## -->
  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-segment value="all">
      <ion-segment-button value="all">All</ion-segment-button>
      <ion-segment-button value="favorites">Favorites</ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <!-- ############## -->

<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title size="large">Toolbar</ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

  <!-- ############## -->

  <ion-toolbar>
    <ion-title>Page title</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        Edit
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="add-outline" md="add-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>Page title</ion-title>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#" >February</ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="list-outline" md="list-sharp"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="search-outline" md="search-sharp"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" ios="add-outline" md="add-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="heart-outline" md="heart-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="search-outline" md="search-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Page title</ion-title>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        Reset
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        Done
      </ion-button>
    </ion-buttons>

    <ion-title>Page title</ion-title>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button >note</ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide={false}></ion-menu-button>
    </ion-buttons>

    <ion-title>Page title</ion-title>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" ios="star-outline" md="star-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Page title</ion-title>
  </ion-toolbar>


  <!-- ############## -->

  <ion-toolbar>
    <ion-title>Page title</ion-title>

    <ion-progress-bar value=.4></ion-progress-bar>
  </ion-toolbar>




</ion-content>
  <!-- ############## -->
  <!-- ############## -->
  <!-- ############## -->
  <!-- ############## -->
  <!-- ############## -->

<!-- ############## -->
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Click to Add Text
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="changeText" onClick="toggleText()">
        <ion-icon slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
