.img-item {
    background-color: #ddd;
    //border-radius: 8px;
  }
  

  .ion-buuton{
    font-size: 20px ;
  }


ion-card{  
    box-shadow: none;
    border-radius: 12px;
    background-color: #792f794f;
     }
  
  
.backg{
      --background:none;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../../../assets/henry-co--odUkx8C2gg-unsplash.jpg');
     }