<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"ENGAGEMENT"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!---->

<ion-content class="backg">

  <!--This part to show arabic designs-->
  <div class="ion-text-center">
    <img class="pic" src="../assets/ar.png ">
  </div>

<div class="arabic-designs-slides">
<ion-slides [options]="option">

  <ion-slide (click) ="editImage('assets/designs/wrtn_arabic_khotba.png')">
    <ion-card>
      <img src="../assets/designs/wrtn_arabic_khotba.png">
    </ion-card>
  </ion-slide>

  
  <ion-slide (click) ="editImage('assets/designs/engagement3.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement3.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement4.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement4.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement5.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement5.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement6.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement6.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement7.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement7.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement8.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement8.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement9.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement9.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement10.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement10.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement11.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement11.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement12.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement12.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement18.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement18.jpg">
    </ion-card>
  </ion-slide>

  
  <ion-slide (click) ="editImage('assets/designs/engagement19.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement19.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement20.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement20.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement21.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement21.jpg">
    </ion-card>
  </ion-slide>


  






</ion-slides>
</div>




<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>


<div class="english-designs-slides">
  <ion-slides [options]="option">


    <ion-slide (click) ="editImage('assets/designs/engagement22.png')">
      <ion-card>
        <img src="../assets/designs/engagement22.png">
      </ion-card>
    </ion-slide>
    
    <ion-slide (click) ="editImage('assets/designs/engagement28.png')">
      <ion-card>
        <img src="../assets/designs/engagement28.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/engagement2.png')">
      <ion-card>
        <img src="../assets/designs/engagement2.png">
      </ion-card>
    </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/engagement24.png')">
      <ion-card>
        <img src="../assets/designs/engagement24.png">
      </ion-card>
    </ion-slide>
  
    <ion-slide (click) ="editImage('assets/designs/engagement1.png')">
      <ion-card>
        
        <img src="../assets/designs/engagement1.png">
      </ion-card>
    </ion-slide>
  
  
    <ion-slide (click) ="editImage('assets/designs/CONGRATSmrs.png')">
      <ion-card>
        
        <img src="../assets/designs/CONGRATSmrs.png">
      </ion-card>
    </ion-slide>
  
  
    <ion-slide (click) ="editImage('assets/designs/cograts.png')">
      <ion-card>
        
        <img src="../assets/designs/cograts.png">
      </ion-card>
    </ion-slide>
  
  
    <ion-slide (click) ="editImage('assets/designs/KHETBA.png')">
      <ion-card>
        
        <img src="../assets/designs/KHETBA.png">
      </ion-card>
    </ion-slide>
  
  
    <ion-slide (click) ="editImage('assets/designs/eng_written.jpeg')">
      <ion-card>
        
        <img src="../assets/designs/eng_written.jpeg">
      </ion-card>
    </ion-slide>
  






  </ion-slides>
</div>


</ion-content>
