<ion-header >
  <ion-toolbar color="lightgreen">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backg">
<ion-content class="ion-padding"> 
  <div>
<!--
<ion-list>
    <ion-item class ="select">
        <ion-label>Informtion</ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-item>

        <ion-item class="select">

          <ion-label>{{"Language"|translate}}</ion-label>

        <ion-select [(ngModel)]="languageSelected" placeholder="select"(ionChange)="setLanguage()">
         
          <ion-select-option value="en" selected>English</ion-select-option>
            <ion-select-option value="ar">Arabic</ion-select-option>
       
        </ion-select>
      </ion-item>
   </ion-list>-->
  
    <ion-button color="greenwild" expand="block" routerLink="/fire-profile" >Edit your Profile</ion-button>
    <ion-button mode="ios" color="greenwild" expand="block" class="ion-margin-top"  (click)="logout()">
      Sign Out
  </ion-button>
  </div>    
</ion-content> 
 </ion-content>
   
  <!--footer of the page -->
  <ion-footer>
    <div class="sign-in-hr">
    <p><span><ion-text  horizontal ="end" vertical="center">
                             ــ فريق متحدين نقف ــ
    </ion-text></span></p></div>
    </ion-footer>