<ion-header >
  <ion-toolbar color="lightgreen">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">Setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backg">
<ion-content class="ion-padding"> 
  <div>
  <!--

<select #locale(change)=changeLocale(locale)>
<option value="en">English</option>

<option value="ar">Arabic</option>




</select>


-->














  
    <ion-button color="greenwild" expand="block" routerLink="/fire-profile" >Edit your Profile</ion-button>
    <ion-button mode="ios" color="greenwild" expand="block" class="ion-margin-top"  (click)="logout()">
      Sign Out
  </ion-button>
  <ion-button>yarb</ion-button>
  </div>    
</ion-content> 
 </ion-content>
   
  <!--footer of the page -->
  <ion-footer>
    <div class="sign-in-hr">
    <p><span><ion-text  horizontal ="end" vertical="center">
                             ــ فريق متحدين نقف ــ
    </ion-text></span></p></div>
    </ion-footer>