<ion-header >
  <ion-toolbar color="lightgreen">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"SETTING"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backg">
<ion-content class="ion-padding"> 
  <div>

    <ion-button color="greenwild" expand="block" routerLink="/fire-profile" >{{"EDIT"|translate}}</ion-button>
    <ion-button mode="ios" color="greenwild" expand="block" class="ion-margin-top"  (click)="logout()">
      {{"SIGNout"|translate}}
  </ion-button>

  </div>    



  <ion-list>
  <ion-item class ="select">
      <ion-label>Informtion</ion-label>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item class="select">

        <ion-label>languageSelected</ion-label>

      <ion-select cancelText='Cancel' [(ngModel)]="language" placeholder="select">
       
        <ion-select-option >English</ion-select-option>
          <ion-select-option >Arabic</ion-select-option>
     
      </ion-select>
    </ion-item>
 </ion-list>-->

</ion-content> 
 </ion-content>
   
  <!--footer of the page -->
  <ion-footer>
    <div class="sign-in-hr">
    <p><span><ion-text  horizontal ="end" vertical="center">
                            {{"TEAM"|translate}}
    </ion-text></span></p></div>
    </ion-footer>