ion-content{
    --background: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/diana-akhmetianova-s358rpxEALI-unsplash.jpg');

   }