<ion-header>
  <ion-toolbar color="amethyst">
    <ion-title strong >{{"beginning"|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >

  <div class="english-pic">
    
    <img src= "../../../assets/Lost-amico.svg">
  
  </div>

  <div class="firstButton">
    <ion-button expand="block" color="amethyst" routerLink="/invitation" size="large" >{{"INVITATION"|translate}}</ion-button>
    
    <ion-button expand="block" color="amethyst"  routerLink="/congratulate" size="large" >{{"CONG"|translate}}</ion-button>
  </div>
  

</ion-content>
