<ion-header >
  <ion-toolbar color="pumpkin">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Circle icon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-margin ion-padding">
    <ion-icon  name="location-outline" class="component-icon size15 component-icon-bg"></ion-icon><br>
    <ion-icon  name="location-outline" class="component-icon size25 component-icon-bg"></ion-icon><br>
    <ion-icon  name="location-outline" class="component-icon size40 component-icon-bg"></ion-icon><br>
    <ion-icon  name="location-outline" class="component-icon size50 component-icon-bg"></ion-icon><br>
    <ion-icon  name="location-outline" class="component-icon size70 component-icon-bg"></ion-icon><br>
    <ion-icon  name="location-outline" class="component-icon size80 component-icon-bg"></ion-icon><br>
    <ion-icon name="location-outline" class="component-icon size100 component-icon-bg"></ion-icon><br>
  </div>

</ion-content>
