<ion-header>
  <ion-toolbar color="brown">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">FORM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
      <div class="margin-top-25">
        <ion-list class="ion-margin">
          <ion-item routerLink="/form-one">
            <ion-icon color="brown" slot="start" icon="document-text-outline" size="large"></ion-icon>
            <ion-label>Form 1</ion-label>
          </ion-item>

          <ion-item routerLink="/form-two">
            <ion-icon color="brown" slot="start" icon="document-text-outline" size="large"></ion-icon>
            <ion-label>Form 2</ion-label>
          </ion-item>

          <ion-item routerLink="/form-three">
            <ion-icon color="brown" slot="start" icon="document-text-outline" size="large"></ion-icon>
            <ion-label>Form 3</ion-label>
          </ion-item>


          <ion-item routerLink="/form-four">
            <ion-icon color="brown" slot="start" icon="document-text-outline" size="large"></ion-icon>
            <ion-label>Form 4</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <!-- <ion-list >

            <ion-item routerLink="/form-one">
              <ion-icon slot="start" icon="hardware-chip-outline"class="component-icon component-icon-primary"></ion-icon>
              <ion-label>Form 1</ion-label>
            </ion-item>
    
            <ion-item routerLink="/form-two">
              <ion-icon slot="start" icon="hardware-chip-outline"class="component-icon component-icon-primary"></ion-icon>
              <ion-label>Form 2</ion-label>
            </ion-item>
          
            <ion-item routerLink="/form-three">
              <ion-icon slot="start" icon="hardware-chip-outline"class="component-icon component-icon-primary"></ion-icon>
              <ion-label>Form 3</ion-label>
            </ion-item>

            <ion-item routerLink="/form-four">
              <ion-icon slot="start" icon="hardware-chip-outline"class="component-icon component-icon-primary"></ion-icon>
              <ion-label>Form 4</ion-label>
            </ion-item>
      </ion-list> -->


      <!-- ############# ionic input component ################ -->

  </ion-grid>

</ion-content>