<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"FRIDAY"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <!-- if needed we will seperate arabic and english
  <div class="ion-text-center">
    <img class="pic" src="../assets/arabic.png ">
  </div>
  -->

<div class="arabic-designs-slides">
<ion-slides [options]="option">

  <ion-slide (click) ="editImage('assets/designs/design19.png')">
    <ion-card>
      
      <img src="../assets/designs/design19.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/design8.png')">
    <ion-card>
      
      <img src="../assets/designs/design8.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday16.jpg')">
    <ion-card>
      <img src="../assets/designs/friday16.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday17.jpg')">
    <ion-card>
      <img src="../assets/designs/friday17.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday18.jpg')">
    <ion-card>
      <img src="../assets/designs/friday18.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday19.jpg')">
    <ion-card>
      <img src="../assets/designs/friday19.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/friday.png')">
    <ion-card>
      <img src="../assets/designs/friday.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/ramadan2.png')">
    <ion-card>
      <img src="../assets/designs/ramadan2.png">
    </ion-card>
  </ion-slide>


  <ion-slide (click) ="editImage('assets/designs/ramadan8.jpg')">
    <ion-card>
      <img src="../assets/designs/ramadan8.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/ramadan11.jpg')">
    <ion-card>
      <img src="../assets/designs/ramadan11.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/ramadan12.png')">
    <ion-card>
      <img src="../assets/designs/ramadan12.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/ramadan13.png')">
    <ion-card>
      <img src="../assets/designs/ramadan13.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/rmpdesign232.png')">
    <ion-card>
      <img src="../assets/designs/rmpdesign232.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/empIslamic54.png')">
    <ion-card>
      <img src="../assets/designs/empIslamic54.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/empIslamic.png')">
    <ion-card>
      <img src="../assets/designs/empIslamic.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/empdesign23.png')">
    <ion-card>
      <img src="../assets/designs/empdesign23.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/empdesign.png')">
    <ion-card>
      <img src="../assets/designs/empdesign.png">
    </ion-card>
  </ion-slide>

  
  <ion-slide (click) ="editImage('assets/designs/12.jpg')">
    <ion-card>
      <img src="../assets/designs/12.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/11.jpg')">
    <ion-card>
      <img src="../assets/designs/11.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/10.jpg')">
    <ion-card>
      <img src="../assets/designs/10.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/rose.png')">
    <ion-card>
      <img src="../assets/designs/rose.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/empdesign77.png')">
    <ion-card>
      <img src="../assets/designs/empdesign77.png">
    </ion-card>
  </ion-slide>
</ion-slides>
</div>
  
        
        
            

  </ion-content>
  