.img-item {
    background-color: #ddd;
    //border-radius: 8px;
  }



  ion-card{
  
    box-shadow: none;
    border-radius: 12px;
    background-color: #faf5c46b;
     }


    .backg{
      --background: none;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('../../../assets/diana-akhmetianova-s358rpxEALI-unsplash.jpg');
     }