.img-item {
    background-color: #ddd;
    //border-radius: 8px;
  }



  ion-card{
  
    box-shadow: none;
    border-radius: 12px;
    background-color: #f7f2c9;
     }


    .backg{
      --ion-background-color:#eed6b6;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      //background-image: url('../../../assets/diana-akhmetianova-s358rpxEALI-unsplash.jpg');
     }