<ion-header >
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">انشاء دعوة</ion-title>
  </ion-toolbar>
  <ion-toolbar  color="medium">
    <ion-grid fixed class="ion-no-padding">
      <ion-segment mode="md" [(ngModel)]="selectedItem" >
        <ion-segment-button value="one"> مكتوبة</ion-segment-button>
        <ion-segment-button value="two">مساحة حرة</ion-segment-button>
        <ion-segment-button value="three"> الدعوات الحالية</ion-segment-button>
      </ion-segment>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  <ion-grid fixed>
      <!--***********  2 columns  ***********-->
      <ion-grid  *ngIf="selectedItem==='one'">
          <ion-row wrap color="gray">
              <ion-col >

                <!--card with image for (wedding)-->
                <ion-card >
                  <img src="../../assets/wedding1.jpeg">
                 
                   <ion-card-header>
                    <ion-card-title class="ion-text-center" color="black">زواج </ion-card-title>
                   <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton" routerLink="/wedding">انتقل </ion-button>
                  </ion-card-header>
                  </ion-card>

                <!--card with image for(hena party)-->
                
                <ion-card >
                <img src="../../assets/hennah2.jpg">
                
                <ion-card-header>
                <ion-card-title class="ion-text-center" color="black">ليلة الحنّه</ion-card-title>
                  <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل </ion-button>
                </ion-card-header>
                </ion-card>
                
                
                
                  <!--card and image for (bye single life)-->
                <ion-card >
                
                
                <img src="../../assets/Mrs.jpeg">
                
                <ion-card-header>
                <ion-card-title class="ion-text-center" color="black">توديع عزوبية</ion-card-title>
                <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل    </ion-button>
              
                </ion-card-header>
                </ion-card>
                
                
                <!--card and image for (baby)-->
                <ion-card >
                <img src="../../assets/pictures/baby3.jpg">
                
                <ion-card-header>
                <ion-card-title class="ion-text-center" color="black"> مباركة مولود</ion-card-title>
                <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل    </ion-button>
                
                
                </ion-card-header>
                </ion-card>
                
                
            
                <!--card and image for (pijama party)-->
                
                <ion-card >
                <img src="../../assets/pjm545.jpg">
                
                 <ion-card-header>
                  <ion-card-title class="ion-text-center" color="black">حفــلة مبـيّـت</ion-card-title>
                  <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton" routerLink="/gathering">انتقل    </ion-button>
                 </ion-card-header>
                  </ion-card>
                <!--card and image for (gradution partY)-->
                <ion-card >
                 <img src="../../assets/graduation67.jpeg">
                
                 <ion-card-header>
                  <ion-card-title class="ion-text-center" color="black">الـتــخـرج</ion-card-title>
                  <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل     </ion-button>
                 </ion-card-header>
                </ion-card>
              </ion-col>
          </ion-row>
      </ion-grid>
      
      <!--***********  3 columns  ***********-->
      
      <ion-grid *ngIf="selectedItem==='two'">
          <ion-row wrap color="gray">
            <ion-col   >


     <!--card with image for (wedding)-->
     <ion-card >
      <img src="../../assets/wedding1.jpeg">
     
       <ion-card-header>
        <ion-card-title class="ion-text-center" color="black">زواج </ion-card-title>
       
       <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton" routerLink="/empty-wedding">انتقل     </ion-button>
      </ion-card-header>
      </ion-card>

    <!--card with image for(hena party)-->
    
    <ion-card >
    <img src="../../assets/hennah2.jpg">
    
    <ion-card-header>
    <ion-card-title class="ion-text-center" color="black">ليلة الحنّه</ion-card-title>
    
    <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل     </ion-button>
  </ion-card-header>
    
    </ion-card>
    
    
    
      <!--card and image for (bye single life)-->
    <ion-card >
    
    
    <img src="../../assets/Mrs.jpeg">
    
    <ion-card-header>
    <ion-card-title class="ion-text-center" color="black">توديع عزوبية</ion-card-title>
    <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل     </ion-button>
  
    </ion-card-header>
    </ion-card>
    
    
    <!--card and image for (baby)-->
    <ion-card >
    <img src="../../assets/pictures/baby3.jpg">
    
    <ion-card-header>
    <ion-card-title class="ion-text-center" color="black"> مباركة مولود</ion-card-title>
    <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل     </ion-button>
    
    
    </ion-card-header>
    </ion-card>
    
    

    <!--card and image for (pijama party)-->
    
    <ion-card >
    <img src="../../assets/pjm545.jpg">
    
     <ion-card-header>
      <ion-card-title class="ion-text-center" color="black">حفـلة مبـيّـت</ion-card-title>
      <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل     </ion-button>
     </ion-card-header>
      </ion-card>
    <!--card and image for (gradution partY)-->
    <ion-card >
     <img src="../../assets/graduation67.jpeg">
    
     <ion-card-header>
      <ion-card-title class="ion-text-center" color="black">الـتــخـرج</ion-card-title>
      <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton">انتقل     </ion-button>
     </ion-card-header>
    </ion-card>

            </ion-col>
          </ion-row>
      </ion-grid>
      
      
      <!--***********  4 columns  ***********-->
      <ion-grid *ngIf="selectedItem==='three'">
          <ion-row wrap color="gray">
            <ion-col  >

              <!--Here to write the code of current invitation and access to camera and read the QR code-->


            </ion-col>
          </ion-row>
      </ion-grid>
  </ion-grid>
  </ion-content>
  