<ion-header >
  <ion-toolbar color="pumpkin">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">List item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- ############################ -->
<!-- #### List of Text Items #### -->
<!-- ############################ -->
<ion-list-header>
  <ion-label>Text items</ion-label>
</ion-list-header>

<ion-list>
  <ion-item>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Mega Man X</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>The Legend of Zelda</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pac-Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list>




<!-- ############################ -->
<!-- #### List of Input Items #### -->
<!-- ############################ -->
<ion-list-header>
  <ion-label>Input items </ion-label>
</ion-list-header>

<ion-list>
  <ion-item>
    <ion-label>Input</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Radio</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Checkbox</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
</ion-list>



<!-- ############################ -->
<!-- #### List of Sliding Items  #### -->
<!-- ############################ -->
<ion-list-header>
  <ion-label>Sliding items</ion-label>
</ion-list-header>

<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option >Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item-options side="end">
     <ion-item-option>Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item>
    <ion-label>Note</ion-label>
    <ion-note slot="end">99</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox</ion-label>
    <ion-checkbox slot="end" checked></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end" checked></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Input</ion-label>
    <ion-input slot="end" placeholder="Placeholder"></ion-input>
  </ion-item>
  
</ion-list>



<!-- ##################### -->
<!-- #### List header #### -->
<!-- ##################### -->

<!-- Default List Header -->
<ion-list-header>
  <ion-label>List header</ion-label>
</ion-list-header>

<!-- List Header with Button -->
<ion-list-header>
  <ion-label>List header </ion-label>
  <ion-button>See All</ion-button>
</ion-list-header>

<!-- List Header with Outline Button -->
<ion-list-header>
  <ion-label>List header </ion-label>
  <ion-button fill="outline">See All</ion-button>
</ion-list-header>

<!-- List Header Full Lines -->
<ion-list-header lines="full">
  <ion-label>List header full lines</ion-label>
  <ion-button>See All</ion-button>
</ion-list-header>

<!-- List Header Inset Lines -->
<ion-list-header lines="inset">
  <ion-label>List header inset</ion-label>
  <ion-button>See All</ion-button>
</ion-list-header>






<!-- ############################ -->
<!-- #### List of Sliding Items  #### -->
<!-- ############################ -->

<ion-list-header lines="inset">
  <ion-label>List header inset</ion-label>
  <ion-button>Clear</ion-button>
</ion-list-header>

<ion-list>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
    </ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-label color="primary">
      <h1>I got you babe</h1>
    </ion-label>
  </ion-item>
  <ion-item lines="inset">
    <ion-label color="primary">
      <h1>I got you babe</h1>
    </ion-label>
  </ion-item>
</ion-list>




<!-- ############################ -->
<!-- #### List of Sliding Items  #### -->
<!-- ############################ -->

<ion-list>

  <ion-list-header lines="inset">
    <ion-label>Trending</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label color="primary">
      <h1>harry styles</h1>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label color="primary">
      <h1>christmas</h1>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label color="primary">
      <h1>falling</h1>
    </ion-label>
  </ion-item>

</ion-list>






<ion-list>
  <ion-list-header>
    Recent Conversations
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Han</h2>
      <h3>Look, kid...</h3>
      <p>I've got enough on my plate as it is, and I...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Rey</h2>
      <h3>I can handle myself</h3>
      <p>You will remove these restraints and leave...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Luke</h2>
      <h3>Your thoughts betray you</h3>
      <p>I feel the good in you, the conflict...</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
    Online
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Poe</h2>
      <h3>New Ride</h3>
      <p>I just upgraded my X-Wing. Next time...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Ben</h2>
      <h3>Move Along</h3>
      <p>These aren't the droids you're looking for...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Leia</h2>
      <h3>You're My Only Hope</h3>
      <p>I've placed information vital to the survival...</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionicframework.com/docs/demos/api/list/avatar-luke.png">
    </ion-avatar>
    <ion-label>
      <h2>Yoda</h2>
      <h3>Size matters not</h3>
      <p>Do or do not. There is no try...</p>
    </ion-label>
  </ion-item>
</ion-list>





<!-- ###################### -->
  <!-- Default Item -->

<ion-list-header>Default</ion-list-header>
<ion-item>
  <ion-label>
    Item
  </ion-label>
</ion-item>

<!-- Item as a Button -->
<ion-item button >
  <ion-label>
    Button Item
  </ion-label>
</ion-item>

<!-- Item as an Anchor -->
<ion-item href="https://www.ionicframework.com">
  <ion-label>
    Anchor Item
  </ion-label>
</ion-item>

<ion-item color="secondary">
  <ion-label>
    Secondary Color Item
  </ion-label>
</ion-item>

<!-- ######################## -->

<ion-item detail>
  <ion-label>
    Standard Item with Detail Arrow
  </ion-label>
</ion-item>

<ion-item button  detail>
  <ion-label>
    Button Item with Detail Arrow
  </ion-label>
</ion-item>

<ion-item detail="false" href="https://www.ionicframework.com">
  <ion-label>
    Anchor Item with no Detail Arrow
  </ion-label>
</ion-item>


<!-- ######################## -->
<ion-list-header>Default</ion-list-header>
<ion-list>
  <ion-item>
    <ion-label>
      Item
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      No Lines Item
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
    Multiline text that should wrap when it is too long
    to fit on one line in the item.
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>H3 Primary Title</h3>
      </ion-text>
      <p>Paragraph line 1</p>
      <ion-text color="secondary">
        <p>Paragraph line 2 secondary</p>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-label>
      Item with Full Lines
    </ion-label>
  </ion-item>

</ion-list>

<!-- ######################## -->

<!-- Item Inset Lines -->
<ion-item lines="inset">
  <ion-label>Item Lines Inset</ion-label>
</ion-item>

<!-- Item Full Lines -->
<ion-item lines="full">
  <ion-label>Item Lines Full</ion-label>
</ion-item>

<!-- Item None Lines -->
<ion-item lines="none">
  <ion-label>Item Lines None</ion-label>
</ion-item>

<!-- List Full Lines -->
<ion-list lines="full">
  <ion-item>
    <ion-label>Full Lines Item 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Full Lines Item 2</ion-label>
  </ion-item>
</ion-list>

<!-- List Inset Lines -->
<ion-list lines="inset">
  <ion-item>
    <ion-label>Inset Lines Item 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Inset Lines Item 2</ion-label>
  </ion-item>
</ion-list>

<!-- List No Lines -->
<ion-list lines="none">
  <ion-item>
    <ion-label>No lines Item 1</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>No lines Item 2</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>No lines Item 3</ion-label>
  </ion-item>
</ion-list>



<!-- ######################## -->

<ion-item button >
  <ion-avatar slot="start">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-avatar>
  <ion-label class="ion-text-wrap">
    <ion-text color="primary">
      <h3>H3 Primary Title</h3>
    </ion-text>
    <p>Paragraph line 1</p>
    <ion-text color="secondary">
      <p>Paragraph line 2 secondary</p>
    </ion-text>
  </ion-label>
</ion-item>

<ion-item href="#">
  <ion-label>
    Thumbnail End, Anchor Item
  </ion-label>
  <ion-thumbnail slot="end">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
</ion-item>

<ion-item>
  <ion-thumbnail slot="start">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
  <ion-label>
    <h2>H2 Title Text</h2>
    <p>Button on right</p>
  </ion-label>
  <ion-button fill="outline" slot="end">View</ion-button>
</ion-item>

<ion-item button >
  <ion-thumbnail slot="start">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
  </ion-thumbnail>
  <ion-label>
    <h3>H3 Title Text</h3>
    <p>Icon on right</p>
  </ion-label>
  <ion-icon name="close-circle" slot="end"></ion-icon>
</ion-item>

<!-- ######################## -->

<ion-item>
  <ion-button slot="start">
    Start
  </ion-button>
  <ion-label>Button Start/End</ion-label>
  <ion-button slot="end">
    End
  </ion-button>
</ion-item>

<ion-item>
  <ion-button slot="start">
    Start Icon
    <ion-icon name="home" slot="end"></ion-icon>
  </ion-button>
  <ion-label>Buttons with Icons</ion-label>
  <ion-button slot="end">
    <ion-icon name="star" slot="end"></ion-icon>
    End Icon
  </ion-button>
</ion-item>

<ion-item>
  <ion-button slot="start">
    <ion-icon slot="icon-only" name="navigate"></ion-icon>
  </ion-button>
  <ion-label>Icon only Buttons</ion-label>
  <ion-button slot="end">
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>
</ion-item>


<!-- ######################## -->

<ion-item>
  <ion-label>
    Icon End
  </ion-label>
  <ion-icon name="information-circle" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>
    Large Icon End
  </ion-label>
  <ion-icon name="information-circle" size="large" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-label>
    Small Icon End
  </ion-label>
  <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
</ion-item>

<ion-item>
  <ion-icon name="star" slot="start"></ion-icon>
  <ion-label>
    Icon Start
  </ion-label>
</ion-item>
<ion-item>
  <ion-label>
    Two Icons Start
  </ion-label>

  <ion-icon name="radio-button-off-outline" color="medium" slot="start"></ion-icon>
  <ion-icon name="caret-forward-circle-outline" slot="start"></ion-icon>
</ion-item>
<ion-item>
  <ion-label>
    Two Icons End
  </ion-label>
  <ion-icon name="checkmark-circle" slot="end"></ion-icon>
  <ion-icon name="shuffle" slot="end"></ion-icon>
</ion-item>

<!-- ######################## -->
<ion-item>
  <ion-label position="floating">Datetime</ion-label>
  <ion-datetime></ion-datetime>
</ion-item>

<ion-item>
  <ion-label position="floating">Select</ion-label>
  <ion-select>
    <ion-select-option value="">No Game Console</ion-select-option>
    <ion-select-option value="nes">NES</ion-select-option>
    <ion-select-option value="n64" selected>Nintendo64</ion-select-option>
    <ion-select-option value="ps">PlayStation</ion-select-option>
    <ion-select-option value="genesis">Sega Genesis</ion-select-option>
    <ion-select-option value="saturn">Sega Saturn</ion-select-option>
    <ion-select-option value="snes">SNES</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>Toggle</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>

<ion-item>
  <ion-label position="floating">Floating Input</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label>Input (placeholder)</ion-label>
  <ion-input placeholder="Placeholder"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Checkbox</ion-label>
  <ion-checkbox slot="start"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Checkbox</ion-label>
  <ion-checkbox slot="end"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Range</ion-label>
  <ion-range></ion-range>
</ion-item>




<!-- ######################## -->

<ion-list>
  <ion-list-header lines="full">
    <ion-label>
      Icon Items
    </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-icon slot="start" size="large" ios="star-outline" md="star-sharp"></ion-icon>
    <ion-label>Label</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start"  ios="star-outline" md="star-sharp"></ion-icon>
    <ion-label>Label</ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-icon slot="start" size="large" ios="heart-outline" md="heart-sharp"></ion-icon>
    <ion-label>Label</ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-icon slot="start" ios="heart-outline" md="heart-sharp"></ion-icon>
    <ion-label>Label</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header lines="full">
    <ion-label>
      Media Items
    </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg"/>
    </ion-avatar>
    <ion-label>Label</ion-label>
  </ion-item>

  <ion-item lines="full">
    <ion-avatar slot="start">
      <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg"/>
    </ion-avatar>
    <ion-label>Label</ion-label>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
    <ion-label>
      Sliding Items
    </ion-label>
  </ion-list-header>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Label</ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="primary">Archive</ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option expandable color="danger">Delete</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-label>Label</ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="primary">
        <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option expandable color="danger">
        <ion-icon slot="icon-only" ios="trash-outline" md="trash-sharp"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<ion-list>
  <ion-list-header>
    <ion-label>
      Inputs & Controls
    </ion-label>
  </ion-list-header>

 



  <ion-list-header>Default</ion-list-header>
  <ion-thumbnail class="big_thumbnail ion-margin-start">
    <img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg">
  </ion-thumbnail>

  <ion-list>
    <ion-list-header>Item thumbnails</ion-list-header>
    <ion-item>
      <ion-thumbnail class="large_thumbnail" slot="start">
        <img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg">
      </ion-thumbnail>
 
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg">
      </ion-thumbnail>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="end">
        <img src="https://ionicframework.com/docs/demos/api/thumbnail/thumbnail.svg">
      </ion-thumbnail>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-list>
</ion-content>
