.backg{
    --ion-background-color:none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   // background-image: url('../../../assets/ram1.jpg');
   background-image: url('../../../../../assets/henry-co--odUkx8C2gg-unsplash.jpg');

   }

   ion-card{
    width: 98%;
    height: 200px;
    box-shadow: none;
    border-radius: 12px;

    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1 , 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }

}


  .swiper-slide-active {
      transform: scale(1.05 , 1.05);

      ion-card{
        img{
            transform: scale(1 ,1);
        }
      }
  }

  .swiper-slide{
      transition: 400ms all ease-in-out;
}


.arabic-designs-slides {
  
  position: absolute;
  left: 0;
  right: 0;
  top: 28%;
  transform: translateY(-50%);
}

.pic {
  width: 70%;
  position: absolute;
  left: 20%;
  right: 0;
  top: 7%;
  transform: translateY(-50%);
}

.english-pic{
  width: 70%;
  position: absolute;
  left: 20%;
  right: 0;
  top: 54%;
  transform: translateY(-50%);
}

.english-designs-slides {

  position: absolute;
  left: 0;
  right: 0;
  top: 79%;
  transform: translateY(-50%);
}


h3 {
  color: rgba(255, 255, 255, 0.89) !important;
  font-weight: 700 !important;
  font-size: 19px !important;
 
}