<ion-header >
  <ion-toolbar color="pumpkin">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Segment</ion-title>
  </ion-toolbar>

  <ion-toolbar color="pumpkin">
    <ion-segment value="all" >
      <ion-segment-button value="all" color="">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" color="">
        <ion-label>Favorites</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list-header>Default</ion-list-header>

  <!-- Label only -->
  <ion-segment value="favorite">
    <ion-segment-button value="call">
      <ion-label>Call</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorite">
      <ion-label>Favorite</ion-label>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-label>Map</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Icon only -->
  <ion-segment color="secondary" value="call">
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Icon top -->
  <ion-segment color="tertiary" value="favorite">
    <ion-segment-button value="call">
      <ion-label>Call</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorite">
      <ion-label>Favorite</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-label>Map</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Icon bottom -->
  <ion-segment color="success" value="call">
    <ion-segment-button value="call" layout="icon-bottom">
      <ion-icon name="call"></ion-icon>
      <ion-label>Call</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorite" layout="icon-bottom">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-segment-button>
    <ion-segment-button value="map" layout="icon-bottom">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list-header>Scrollable</ion-list-header>

  <!-- Icon start -->
  <ion-segment color="warning" scrollable value="call">
    <ion-segment-button value="call" layout="icon-start">
      <ion-label>Call</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorite" layout="icon-start">
      <ion-label>Favorite</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map" layout="icon-start">
      <ion-label>Map</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call" layout="icon-start">
      <ion-label>Call</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorite" layout="icon-start">
      <ion-label>Favorite</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map" layout="icon-start">
      <ion-label>Map</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="call" layout="icon-start">
      <ion-label>Call</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorite" layout="icon-start">
      <ion-label>Favorite</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map" layout="icon-start">
      <ion-label>Map</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <!-- Icon end -->
  <ion-segment color="danger" scrollable value="map">
    <ion-segment-button value="call" layout="icon-end">
      <ion-icon name="call"></ion-icon>
      <ion-label>Call</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorite" layout="icon-end">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-segment-button>
    <ion-segment-button value="map" layout="icon-end">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-segment-button>
  </ion-segment>





<!-- ############# -->
<ion-list-header>
  <ion-label>
    Scrollable
  </ion-label>
</ion-list-header>

<div class="ion-padding-horizontal">
  <ion-segment value="call" scrollable>
    <ion-segment-button value="call">
      <ion-label>Call</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorite">
      <ion-label>Favorite</ion-label>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-label>Map</ion-label>
    </ion-segment-button>
    <ion-segment-button value="watch">
      <ion-label>Watch</ion-label>
    </ion-segment-button>
    <ion-segment-button value="account">
      <ion-label>Account</ion-label>
    </ion-segment-button>
    <ion-segment-button value="settings">
      <ion-label>Settings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="profile">
      <ion-label>Profile</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment value="favorite" color="tertiary" scrollable>
    <ion-segment-button value="call">
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorite">
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="map">
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="watch">
      <ion-icon name="play-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="account">
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="settings">
      <ion-icon name="cog"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="profile">
      <ion-icon name="person"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</div>

</ion-content>


