<ion-header>
  <ion-toolbar color="pumpkin">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- ##############  Avatar for profile ############ -->

  <div class="header-background">
    <!-- <img [src]="speaker?.profilePic" [alt]="speaker?.name"> -->
    <ion-avatar class="profile">
      <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
    </ion-avatar>
    <h2>Thomas Swatch</h2>
  </div>



  <!-- ####### Horizontal scroll ####### -->
  <div class="horizontal-scroll ion-margin-top">

    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>

    <div class="horizontal-card  margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>

    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>
    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>
    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>
    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>
    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>
    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>
    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>
    <div class="horizontal-card margin-right-15">
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
      </ion-avatar>
      <ion-label>Item</ion-label>
    </div>

  </div>

  <!-- ############## -->

  <ion-list-header>
    <ion-label>
      Default
    </ion-label>
  </ion-list-header>
  <ion-avatar class="ion-margin-start">
    <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
  </ion-avatar>

  <ion-list-header>
    <ion-label>
      Chip Avatar
    </ion-label>
  </ion-list-header>
  <ion-chip class="ion-margin-start">
    <ion-avatar>
      <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
    </ion-avatar>
    <ion-label>Kit Bishop</ion-label>
  </ion-chip>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Item Avatars
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
      </ion-avatar>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
      </ion-avatar>
      <ion-label>Lorem ipsum</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="end">
        <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h3>Lorem ipsum</h3>
        <p>dolor sit amet</p>
        <p>consectetur adipiscing elit. Duis ut urna neque.</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <!-- ############## -->


  <ion-avatar>
    <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
  </ion-avatar>

  <!-- ############## -->
  <ion-chip>
    <ion-avatar>
      <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://ionic-docs-demo.herokuapp.com/assets/avatar.svg">
    </ion-avatar>
    <ion-label>Item Avatar</ion-label>
  </ion-item>




</ion-content>