<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">عيد الفطر المبارك</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="black" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <div class="ion-text-center">
    <img class="pic" src="../assets/ar.png ">
  </div>


<div class="arabic-designs-slides">

<ion-slides [options]="option">

<ion-slide (click) ="editImage('assets/designs/eid3.jpg')">
  <ion-card>
    <img src="../assets/designs/eid3.jpg">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eid4.jpg')">
  <ion-card>
    <img src="../assets/designs/eid4.jpg">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/hgjfgj eid.png')">
  <ion-card>
    <img src="../assets/designs/hgjfgj eid.png">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eid fiter4534543.png')">
  <ion-card>
    <img src="../assets/designs/eid fiter4534543.png">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eid fiter5454.png')">
  <ion-card>
    <img src="../assets/designs/eid fiter5454.png">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eidrte4t.png')">
  <ion-card>
    <img src="../assets/designs/eidrte4t.png">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eeeiiddr6retret.png')">
  <ion-card>
    <img src="../assets/designs/eeeiiddr6retret.png">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eid455436.png')">
  <ion-card>
    <img src="../assets/designs/eid455436.png">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eid2312.png')">
  <ion-card>
    <img src="../assets/designs/eid2312.png">
  </ion-card>
</ion-slide>


<ion-slide (click) ="editImage('assets/designs/eid fiterq34.png')">
  <ion-card>
    <img src="../assets/designs/eid fiterq34.png">
  </ion-card>
</ion-slide>

</ion-slides>
</div>


<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>


<div class="english-designs-slides">
  <ion-slides [options]="option">

    <ion-slide (click) ="editImage('assets/designs/eid1.png')">
      <ion-card>
        <img src="../assets/designs/eid1.png">
      </ion-card>
    </ion-slide>
  

    <ion-slide (click) ="editImage('assets/designs/eid2.png')">
      <ion-card>
        <img src="../assets/designs/eid2.png">
      </ion-card>
    </ion-slide>
  
  </ion-slides>
</div>
  
    
</ion-content>  