<ion-header >
  <ion-toolbar color="pumpkin">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Range</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-radio-group value="grape">
      <ion-list-header>
        <ion-label>Fruit</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Apple</ion-label>
        <ion-radio slot="start" color="success" value="apple"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Grape</ion-label>
        <ion-radio slot="start" color="tertiary" value="grape"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Cherry</ion-label>
        <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group allow-empty-selection value="anchovies">
      <ion-list-header>
        <ion-label>Pizza Topping</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Beef</ion-label>
        <ion-radio slot="end" color="primary" value="beef"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Anchovies</ion-label>
        <ion-radio slot="end" color="secondary" value="anchovies"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Sausage</ion-label>
        <ion-radio slot="end" color="tertiary" value="sausage"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Bellpepper</ion-label>
        <ion-radio slot="end" color="success" value="tomato"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tomato</ion-label>
        <ion-radio slot="end" color="warning" value="carrot"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Pepperoni</ion-label>
        <ion-radio slot="end" color="danger" value="pepperoni"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>


<!-- <ion-radio-group>
  <ion-item>
     <ion-radio slot="start" value="foo" ></ion-radio>
     <ion-icon slot="start" mode="ios" name="radio-button-off"></ion-icon>
     <ion-label>foo</ion-label>
  </ion-item>
  <ion-item>
     <ion-radio slot="start" value="bar" checked></ion-radio>
     <ion-icon slot="start" mode="ios" name="radio-button-off" ></ion-icon>
     <ion-label>bar</ion-label>
  </ion-item>
</ion-radio-group> -->
</ion-content>