<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="river" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title  color="river" class="main-header4">MAP 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--*********** Map wrapper  ***********-->

  <div id="wrapper">
    <!--*********** Map  ***********x-->
    <div #map id="map"></div>

    <!--*********** Detail box ***********-->
    <div *ngIf="viewDetail" class="place-detail effect6">

      <ion-card>
        <div class="image_header" [ngStyle]="{'background-image': 'url(' + placeImage + ')'}"></div>
        <ion-card-content>
          <ion-item lines="none">
            <ion-label>
              <h2>{{placeName}}</h2>
              <p>
                <ion-icon
                  style="font-size: 14px !important;"
                  color="warning"
                  *ngFor="let i of [0,1,2,3,4]"
                  [name]="i < placeRating? 'star' : 'star-outline'"
                >
                </ion-icon>
              </p>
              <p>{{placeDescription}}</p>
              <ion-button fill="outline" slot="end" color="yellow" (click)="openDetail('placeId')">View</ion-button>
            </ion-label>
            
          </ion-item>
        
        </ion-card-content>
      </ion-card>
    </div>

  </div>

</ion-content>
