<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"HENNA"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" "></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content class="backg" >
    <div class="arabic-designs-slides">
      <ion-slides [options]="option">


  <!--This part to show EMPTY designs-->




    
  <ion-slide (click) ="editImage('assets/designs/EM21.JPG')">
    <ion-card>
      <img src="../assets/designs/EM21.JPG">
    </ion-card>
  </ion-slide>


    
  <ion-slide (click) ="editImage('assets/designs/EM22.JPG')">
    <ion-card>
      <img src="../assets/designs/EM22.JPG">
    </ion-card>
  </ion-slide>




    
  <ion-slide (click) ="editImage('assets/designs/EM23.JPG')">
    <ion-card>
      <img src="../assets/designs/EM23.JPG">
    </ion-card>
  </ion-slide>


    
  <ion-slide (click) ="editImage('assets/designs/EM24.JPG')">
    <ion-card>
      <img src="../assets/designs/EM24.JPG">
    </ion-card>
  </ion-slide>
  

      
  <ion-slide (click) ="editImage('assets/designs/EM25.JPG')">
    <ion-card>
      <img src="../assets/designs/EM25.JPG">
    </ion-card>
  </ion-slide>

  

    
  <ion-slide (click) ="editImage('assets/designs/EM27.JPG')">
    <ion-card>
      <img src="../assets/designs/EM27.JPG">
    </ion-card>
  </ion-slide>



  
  <ion-slide (click) ="editImage('assets/designs/design9.png')">
    <ion-card>
      <img src="../assets/designs/design9.png">
    </ion-card>
  </ion-slide>






</ion-slides>
</div>
       
</ion-content>  