<ion-header class="ion-no-border">
    <ion-toolbar color="asphalt">
      <ion-buttons slot="end">
        <ion-menu-button color="black" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title color="black" size="large" class="ion-text-center" >{{"SIGNup"|translate}} </ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="light" text=" " ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> 


  <ion-content fullscreen=true class="backg">
    <ion-grid fixed class="ion-no-padding">
       
        <div class="register-form ion-margin">
            <ion-text color="dark">
                <h2 text-center class="ion-margin-bottom main-header7">
                    {{"CREATEu"|translate}}
                </h2>
            </ion-text>

            <form [formGroup]="registerForm" novalidate>

              <ion-list class="ion-margin-top ion-padding">
                <!-- The first item for First name -->
                <ion-item  class="roundedInput8px margin-bottom-10">
                  <ion-label>
                    <ion-icon name="person-outline" color="medium"></ion-icon>
                    </ion-label>
                  <ion-input type="text" formControlName="firstname" placeholder="First name | الاسم الأول" ></ion-input>
                </ion-item>
                <!-- The second item for last name -->
                <ion-item  class="roundedInput8px margin-bottom-10">
                  <ion-label>
                    <ion-icon name="people-outline" color="medium"></ion-icon>
                    </ion-label>
                  <ion-input type="text" formControlName="lastname" placeholder="Lastname | الاسم الأخير"></ion-input>
                </ion-item>

                <!-- The third item for Email -->
                <ion-item  class="roundedInput8px margin-bottom-10">
                    <ion-label>
                      <ion-icon name="mail-outline" color="medium"></ion-icon>
                      </ion-label>
                    <ion-input type="text" formControlName="username" placeholder="email | البريد الإلكتروني"></ion-input>
                  </ion-item>

                <!-- The forth item for password -->                              
                <ion-item  class="roundedInput8px margin-bottom-10">
                  <ion-label slot="start" class="margin-right-8">
                    <ion-icon name="lock-closed-outline" color="medium"></ion-icon>
                    </ion-label>

                  <ion-input type="text" formControlName="password" placeholder="Password | كلمة المرور" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false"></ion-input>

                      <!--  Show/hide password -->    
                      <div (click)="onPasswordToggle()" ion-button fill="clear" size="small" >
                        <ion-icon  slot="icon-only" color="medium" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
                      </div>
                </ion-item>

              </ion-list>


                <!-- Error meassage -->
                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.firstname.valid && registerForm.controls.firstname.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{"WARNING5"|translate}}
                    </p>
                </ion-text>

                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.lastname.valid && registerForm.controls.lastname.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{"WARNING4"|translate}}
                    </p>
                </ion-text>

                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.touched">
                        <ion-icon name="information-circle-outline"></ion-icon> {{"WARNING2"|translate}} 
                    </p>
                </ion-text>

                <ion-text color="danger">
                    <p *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.touched">
                        <ion-icon name="information-circle-outline"></ion-icon>{{"WARNING1"|translate}}
                    </p>
                </ion-text>


                <!-- Submit button -->
                <ion-button mode="ios" color="black" expand="block"  fill="solid" class="ion-margin-top" [disabled]="!registerForm.valid"
                    (click)="registerUser()">
                    {{"CREATE"|translate}}
                </ion-button>

                <ion-button mode="ios" color="asphalt" expand="block"  class="ion-margin-top"
                    routerLink="/fire-signin">
                    {{"CANCEL"|translate}}
                </ion-button>

                <ion-text color="dark">
                    <h2  class="ion-text-center ion-margin-bottom main-header8">
                         {{"DIRECTIVE1"|translate}}
                    </h2>
                </ion-text>
            </form>

        </div>
  </ion-grid>
</ion-content>