<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"GATHERING"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  
  <div class="arabic-designs-slides">
    <ion-slides [options]="option">
  
  
      <ion-slide (click) ="editImage('assets/designs/emp_pjm1.png')">
        <ion-card>
          <img src="../assets/designs/emp_pjm1.png">
        </ion-card>
      </ion-slide>
    
      
      <ion-slide (click) ="editImage('assets/designs/emp_pjm2.png')">
        <ion-card>
          <img src="../assets/designs/emp_pjm2.png">
        </ion-card>
      </ion-slide>
  
      <ion-slide (click) ="editImage('assets/designs/emp_pjm3.png')">
        <ion-card>
          <img src="../assets/designs/emp_pjm3.png">
        </ion-card>
      </ion-slide> 
  <!---->
   
      
  <ion-slide (click) ="editImage('assets/designs/emp_pjm4.jpg')">
    <ion-card>
      <img src="../assets/designs/emp_pjm4.jpg">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm5.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm5.png">
    </ion-card>
  </ion-slide>
  
   
      
  <ion-slide (click) ="editImage('assets/designs/emp_pjm6.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm6.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm7.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm7.png">
    </ion-card>
  </ion-slide>
  
   
      
  <ion-slide (click) ="editImage('assets/designs/emp_pjm8.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm8.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm9.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm9.png">
    </ion-card>
  </ion-slide>
  
   
      
  <ion-slide (click) ="editImage('assets/designs/emp_pjm10.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm10.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm11.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm11.png">
    </ion-card>
  </ion-slide>
  
   
      
  <ion-slide (click) ="editImage('assets/designs/emp_pjm12.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm12.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm13.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm13.png">
    </ion-card>
  </ion-slide>
  
   
      
  <ion-slide (click) ="editImage('assets/designs/emp_pjm14.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm14.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm15.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm15.png">
    </ion-card>
  </ion-slide>
  
   
      
  <ion-slide (click) ="editImage('assets/designs/emp_pjm16.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm16.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm17.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm17.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/emp_pjm18.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm18.png">
    </ion-card>
  </ion-slide>
  
  <ion-slide (click) ="editImage('assets/designs/emp_pjm19.png')">
    <ion-card>
      <img src="../assets/designs/emp_pjm19.png">
    </ion-card>
  </ion-slide>
   </ion-slides>
  </div>     
</ion-content>  