
<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-menu-button color="orange" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title color="orange" lass="main-header4">PROFILE</ion-title>
      <!-- <ion-buttons slot="start">
          <ion-back-button color="orange"></ion-back-button>
      </ion-buttons> -->
      <!-- <ion-title slot="start" class="main-header4">SIGNIN</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed class="ion-no-padding">
      <ion-header  class="ion-no-border" collapse="condense">
      
        <ion-toolbar>
          <ion-title color="orange" size="large">PROFILE</ion-title>
        </ion-toolbar>
      </ion-header>

    <!-- <div class="logo-box">
      <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp.jpg" alt="">
    </div> -->

    <div class="login-form">
      <ion-text color="dark">
        <h2 text-center class="ion-margin-bottom main-header7">
            Your profile detail.
        </h2>
    </ion-text>
    <form [formGroup]="updateForm" novalidate>

      <ion-list class="ion-margin-top ion-padding">
        <!-- ############ -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="person-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input  type="text"  formControlName="firstname"  [value]="(userDetail | async)?.firstname" ></ion-input>
        </ion-item>
        <!-- ############ -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="people-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input type="text"  formControlName="lastname"   [value]="(userDetail | async)?.lastname"></ion-input>
        </ion-item>
        <!-- ############ -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="mail-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input type="text"  formControlName="email"  [value]="(userDetail | async)?.email" ></ion-input>
        </ion-item>

        <!-- ############ -->
        <ion-item  class="roundedInput8px margin-bottom-10">
            <ion-label>
              <ion-icon name="call-outline" color="medium"></ion-icon>
              </ion-label>
            <ion-input  type="text" formControlName="phone"   [value]="(userDetail | async)?.phone"></ion-input>
          </ion-item>

      </ion-list>




        <!-- <ion-list lines="none">
            <ion-item>
              <ion-icon slot="start" color="lightgray" size="small" name="mail-outline"></ion-icon>
              <ion-input type="text"  formControlName="firstname"  [value]="(userDetail | async)?.firstname"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" color="lightgray" size="small" name="mail-outline"></ion-icon>
                <ion-input type="text"  formControlName="lastname"   [value]="(userDetail | async)?.lastname"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" color="lightgray" size="small" name="mail-outline"></ion-icon>
                <ion-input type="text"  formControlName="email"  [value]="(userDetail | async)?.email"></ion-input>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" color="lightgray" size="small" name="mail-outline"></ion-icon>
              <ion-input type="text" formControlName="phone"   [value]="(userDetail | async)?.phone"></ion-input>
            </ion-item>


        </ion-list> -->

          <!-- Error meassage -->
          <!-- <p color="warning" *ngIf="!updateForm.controls.firstname.valid && updateForm.controls.firstname.touched">
              <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
          <p color="warning" *ngIf="!updateForm.controls.lastname.valid && updateForm.controls.lastname.touched">
              <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
          <p color="warning" *ngIf="!updateForm.controls.email.valid && updateForm.controls.email.touched">
            <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p>
          <p color="warning" *ngIf="!updateForm.controls.phone.valid && updateForm.controls.phone.touched">
            <ion-icon name="information-circle-outline"></ion-icon> This field must be at least 3 characters long!
          </p> -->


          <ion-button mode="ios" color="orange" expand="block" class="ion-margin-top"  (click)="updateProfile()">
            Update profile
          </ion-button>
          <ion-button mode="ios" color="orange" fill="outline" expand="block" class="ion-margin-top"  (click)="logout()">
              Signout
          </ion-button>
          <ion-text color="dark">
            <h2  class="ion-text-center ion-margin-bottom main-header8">
                By clicking Sign up you agree to the following Terms ans Conditions without reservation
            </h2>
        </ion-text>
    </form>




    </div>
  </ion-grid>
</ion-content>