$white-color: #fff;
$height100: 100%;

ion-toolbar{
  --opacity:0 !important;
  }

// ion-content{
//   --background: none;
//   background-position: center center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   //background-image: url('https://image.freepik.com/free-vector/green-shapes-green-background_23-2148358212.jpg');
//   //background-image: url('https://image.freepik.com/free-vector/stylish-hexagonal-line-pattern-background_1017-19742.jpg');
  
//   background-image: url('https://image.freepik.com/free-vector/3d-paper-style-wallpaper_23-2148473492.jpg');
//  }

ion-col{
  padding: 0px !important;
}
ion-list {
 //--ion-item-background: transparent;
// margin: 0px 25px;
}

.login-logo {
  padding: 20px 0;
  min-height: 100px;
  text-align: center;
}

.login-logo img {
  max-width: 100px;
}

.list {
  margin-bottom: 0;
}


ion-button {
  font-weight: 300;
}

//######## default screen ########//

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
  min-width: 450px;
    padding: 30px !important;
    border: 1px solid #eee; //1px solid #488aff;
    background-color: #fff;
    border-radius: 8px;
}
.list-width{
  width: 450px !important;
  
}


//######## mobile screen ########//
@media (min-width: 240px) and (max-width: 768px) {

    ion-grid {
        background: $white-color;
    }
    ion-col {
     // min-width: 450px;
        min-height: 650px;
        border: none;
        //height: 450px !important;
        background: transparent;
        border-radius: 0px;
    }
}