<ion-header>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">Sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
    <div class="margin-top-25">
      <ion-list class="ion-margin">
        <ion-item routerLink="/signup-one" routerDirection="forward">
          <ion-icon color="pink" slot="start" icon="log-out-outline" size="large"></ion-icon>
          <ion-label>Signup 1</ion-label>
        </ion-item>

        <ion-item routerLink="/signup-two" routerDirection="forward">
          <ion-icon color="pink" slot="start" icon="log-out-outline" size="large"></ion-icon>
          <ion-label>Signup 2</ion-label>
        </ion-item>

        <ion-item routerLink="/signup-three" routerDirection="forward">
          <ion-icon color="pink" slot="start" icon="log-out-outline" size="large"></ion-icon>
          <ion-label>Signup 3</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>