<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"ENGAGEMENT"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" "></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <!-- if needed we will seperate arabic and english
  <div class="ion-text-center">
    <img class="pic" src="../assets/arabic.png ">
  </div>
  -->

<div class="arabic-designs-slides">
<ion-slides [options]="option">


  <ion-slide (click) ="editImage('assets/designs/design3.png')">
    <ion-card>
      <img src="../assets/designs/design3.png">
    </ion-card>
  </ion-slide>


  <ion-slide (click) ="editImage('assets/designs/design2.png')">
    <ion-card>
      <img src="../assets/designs/design2.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/design7.png')">
    <ion-card>
      <img src="../assets/designs/design7.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/design8.png')">
    <ion-card>
      <img src="../assets/designs/design8.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/design9.png')">
    <ion-card>
      <img src="../assets/designs/design9.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/design10.png')">
    <ion-card>
      <img src="../assets/designs/design10.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement13.png')">
    <ion-card>
      <img src="../assets/designs/engagement13.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement14.png')">
    <ion-card>
      <img src="../assets/designs/engagement14.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement15.png')">
    <ion-card>
      <img src="../assets/designs/engagement15.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement16.png')">
    <ion-card>
      <img src="../assets/designs/engagement16.png">
    </ion-card>
  </ion-slide>
  <!---->
  <ion-slide (click) ="editImage('assets/designs/engagement32.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement32.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement31.png')">
    <ion-card>
      <img src="../assets/designs/engagement31.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement30.png')">
    <ion-card>
      <img src="../assets/designs/engagement30.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement29.png')">
    <ion-card>
      <img src="../assets/designs/engagement29.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement27.png')">
    <ion-card>
      <img src="../assets/designs/engagement27.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement26.png')">
    <ion-card>
      <img src="../assets/designs/engagement26.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement25.png')">
    <ion-card>
      <img src="../assets/designs/engagement25.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement23.png')">
    <ion-card>
      <img src="../assets/designs/engagement23.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/engagement17.jpg')">
    <ion-card>
      <img src="../assets/designs/engagement17.jpg">
    </ion-card>
  </ion-slide>

</ion-slides>
</div>
  
        
        
</ion-content>
  