<ion-content fullscreen>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button mode="ios" size="small" translucent="true" (click)="close()">
      <ion-icon name="close-circle-outline" color="lightgray"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<!-- *ngIf="slidesDelay" -->
  <ion-slides  [options]="sliderOpts" #slider>
    <ion-slide *ngFor="let image of imgArray" (pan)="close()">
      <div class="swiper-zoom-container">

        <img [src]="image.url">
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>