<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"BABY"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="backg">

  <!--This part to show arabic designs-->
  <div class="ion-text-center">
    <img class="pic" src="../assets/ar.png ">
  </div>

<div class="arabic-designs-slides">
<ion-slides [options]="option">

  <ion-slide (click) ="editImage('assets/designs/welcomeBabyGRL.jpeg')">
    <ion-card>
      <img src="../assets/designs/welcomeBabyGRL.jpeg">
    </ion-card>
  </ion-slide>


  <ion-slide (click) ="editImage('assets/designs/babyshower.png')">
    <ion-card>
      <img src="../assets/designs/babyshower.png">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby3.jpg')">
    <ion-card>
      <img src="../assets/designs/baby3.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby4.jpg')">
    <ion-card>
      <img src="../assets/designs/baby4.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby5.jpg')">
    <ion-card>
      <img src="../assets/designs/baby5.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby6.jpg')">
    <ion-card>
      <img src="../assets/designs/baby6.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby7.jpg')">
    <ion-card>
      <img src="../assets/designs/baby7.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby8.jpg')">
    <ion-card>
      <img src="../assets/designs/baby8.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby9.jpg')">
    <ion-card>
      <img src="../assets/designs/baby9.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby10.jpg')">
    <ion-card>
      <img src="../assets/designs/baby10.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby11.jpg')">
    <ion-card>
      <img src="../assets/designs/baby11.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby12.jpg')">
    <ion-card>
      <img src="../assets/designs/baby12.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby13.jpg')">
    <ion-card>
      <img src="../assets/designs/baby13.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby14.jpg')">
    <ion-card>
      <img src="../assets/designs/baby14.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby15.jpg')">
    <ion-card>
      <img src="../assets/designs/baby15.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby16.jpg')">
    <ion-card>
      <img src="../assets/designs/baby16.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/baby17.jpg')">
    <ion-card>
      <img src="../assets/designs/baby17.jpg">
    </ion-card>
  </ion-slide>


  <ion-slide (click) ="editImage('assets/designs/rtn_baby_ar1.jpg')">
    <ion-card>
      <img src="../assets/designs/rtn_baby_ar1.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide (click) ="editImage('assets/designs/rtn_baby_ar6.jpg')">
    <ion-card>
      <img src="../assets/designs/rtn_baby_ar6.jpg">
    </ion-card>
  </ion-slide>


</ion-slides>
</div>





<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>


<div class="english-designs-slides">
  <ion-slides [options]="option">

    <ion-slide (click) ="editImage('assets/designs/BABY231.png')">
      <ion-card>
        <img src="../assets/designs/BABY231.png">
      </ion-card>
    </ion-slide>
    
    <ion-slide (click) ="editImage('assets/designs/babyboy.png')">
      <ion-card>
        <img src="../assets/designs/babyboy.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/Babyr4545.png')">
      <ion-card>
        <img src="../assets/designs/Babyr4545.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby18.png')">
      <ion-card>
        <img src="../assets/designs/baby18.png">
      </ion-card>
    </ion-slide>
  
    <ion-slide (click) ="editImage('assets/designs/eng_baby1.png')">
      <ion-card>
        <img src="../assets/designs/eng_baby1.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby20.png')">
      <ion-card>
        <img src="../assets/designs/baby20.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby21.png')">
      <ion-card>
        <img src="../assets/designs/baby21.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby22.png')">
      <ion-card>
        <img src="../assets/designs/baby22.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby23.png')">
      <ion-card>
        <img src="../assets/designs/baby23.png">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/baby26.png')">
      <ion-card>
        <img src="../assets/designs/baby26.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby27.png')">
      <ion-card>
        <img src="../assets/designs/baby27.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby28.png')">
      <ion-card>
        <img src="../assets/designs/baby28.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby29.png')">
      <ion-card>
        <img src="../assets/designs/baby29.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby30.png')">
      <ion-card>
        <img src="../assets/designs/baby30.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby31.png')">
      <ion-card>
        <img src="../assets/designs/baby31.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby32.png')">
      <ion-card>
        <img src="../assets/designs/baby32.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/baby33.png')">
      <ion-card>
        <img src="../assets/designs/baby33.png">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/baby38.png')">
      <ion-card>
        <img src="../assets/designs/baby38.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/eng_baby.png')">
      <ion-card>
        <img src="../assets/designs/eng_baby.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/rtn_baby3.png')">
      <ion-card>
        <img src="../assets/designs/rtn_baby3.png">
      </ion-card>
    </ion-slide>

    


  </ion-slides>
</div>


</ion-content>
