<ion-content>
    <div id="container">
        <img src="assets/img/scan-successful.jpg" style="width:50%; height:50%">
        <h3 class="ion-margin-top ion-text-center"  style="color: #1d808c">
            Scan Successful
        </h3>
        <h5 class="ion-text-center"   style="color: #1d808c">
            {{AttendeesCount}} out of {{AttendeesAllowed}} attendees present
        </h5>
        <ion-button class="margin-top-10" (click)="close()" color="pumpkin">
            <ion-icon slot="icon-only"   size="large" name="close-circle-outline"></ion-icon>
        </ion-button>
    </div> 
</ion-content>
