
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-menu-button color="orange" auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title color="orange" lass="main-header4">SIGN IN</ion-title>
        <!-- <ion-buttons slot="start">
            <ion-back-button color="orange"></ion-back-button>
        </ion-buttons> -->
        <!-- <ion-title slot="start" class="main-header4">SIGNIN</ion-title> -->
    </ion-toolbar>
</ion-header>


<ion-content fullscreen=true>
    <ion-grid fixed class="ion-no-padding">
        <ion-header  class="ion-no-border" collapse="condense">
    
        <ion-toolbar>
            <ion-title color="orange" size="large">SIGN IN</ion-title>
        </ion-toolbar>
        </ion-header>


        <!-- <div class="logo-box">
        <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp.jpg" alt="">
        </div> -->
        <!-- <ion-item lines="none">
            <ion-label>
                <ion-text color="greengrab">
                    <h1 class="main-header1">Sign in</h1>
                </ion-text>
            </ion-label>
        </ion-item> -->

        <form [formGroup]="loginForm" novalidate>
            <div class="login-form">
                <ion-text color="dark">
                    <h2 text-center class="ion-margin-bottom main-header7">
                        Sign in to continue
                    </h2>
                </ion-text>
                <!--  -->
                <ion-list class="ion-margin-top ion-padding">
                    <!-- ############ -->
                    <ion-item class="roundedInput8px margin-bottom-10">
                        <ion-label>
                            <ion-icon name="person-add-outline" color="medium"></ion-icon>
                        </ion-label>
                        <ion-input formControlName="username"  type="email" placeholder="Username"></ion-input>
                    </ion-item>
                    <!-- ############ -->
                    <ion-item class="roundedInput8px margin-bottom-10">
                        <ion-label slot="start" class="margin-right-8">
                            <ion-icon name="lock-closed-outline" color="medium"></ion-icon>
                        </ion-label>

                        <ion-input formControlName="password"  type="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'" clearOnEdit="false">
                        </ion-input>

                        <!-- ### Show/hide password ### -->
                        <div (click)="onPasswordToggle()" ion-button fill="clear" size="small">
                            <ion-icon slot="icon-only" color="medium" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
                        </div>
                    </ion-item>
                    
                    <!-- ############ -->
                    <span>
                        <p class="ion-text-right" (click)="forgot()">Forgot password?</p>
                    </span>     
                
                    <!-- ############ -->

                    <!-- Error meassage -->
                    <ion-text color="scarletred">
                        <p *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched">
                            <ion-icon name="information-circle-outline"></ion-icon> Username field must be at least 3 characters
                            long!
                        </p>
                    </ion-text>
                    <ion-text color="scarletred">
                        <p *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.touched">
                            <ion-icon name="information-circle-outline"></ion-icon> Password field must be at least 3 characters
                            long!
                        </p>
                    </ion-text>


                </ion-list>



                <!--  -->
                <!-- <ion-list class="ion-margin-top">
                    <ion-item lines="none">
                        <ion-icon slot="start" color="lightgray" size="small" name="mail-outline"></ion-icon>
                        <ion-input formControlName="username" type="email" placeholder="Username"></ion-input>
                    </ion-item>

                    <ion-item lines="none">
                        <ion-icon slot="start" color="lightgray" size="small" name="key-outline"></ion-icon>
                        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
                    </ion-item>

                </ion-list> -->




                <!-- <ion-button mode="ios" color="orange" expand="block"  (click)="login()">
                    Sign in
                </ion-button> -->

                <ion-button mode="ios" color="orange" expand="block" [disabled]="!loginForm.valid" (click)="login()">
                    Sign in
                </ion-button>

                <ion-button mode="ios" color="orange" expand="block" fill="outline" class="ion-margin-top" (click)="register()">
                    Create new user
                </ion-button>
                <ion-text color="medium">
                    <h2 class="ion-margin-bottom main-header8 ion-text-center">
                        By clicking Sign up you agree to the following Terms ans Conditions without reservation
                    </h2>
                </ion-text>
            </div>
        </form>
    </ion-grid>
</ion-content>