<ion-header >
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button color="black" ></ion-back-button>
    </ion-buttons>
    <ion-title  class="main-header4">مولود</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  <ion-card >
    <img src="../../assets/p1.png">
    
    <ion-card-header>
    <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton" (click) ="editImage('assets/p1.png')">انتقل    </ion-button>
    
    
    </ion-card-header>
    </ion-card>
    
    <ion-card >
      <img src="../../assets/p2.png">
      
      <ion-card-header>
      <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton" (click) ="editImage('assets/p2.png')">انتقل    </ion-button>
      
      
      </ion-card-header>
      </ion-card>
      
      <ion-card >
        <img src="../../assets/p3.png">
        
        <ion-card-header>
        <ion-button  expand="full" shape="round" fill="solid" color="lightgray" strong class="my-action-button" class="ion-buuton" (click) ="editImage('assets/p3.png')">انتقل    </ion-button>
        
        
        </ion-card-header>
        </ion-card>
        
        
            

  </ion-content>
  