
<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"GRADUATION"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <div class="ion-text-center">
    <img class="pic" src="../assets/arabic.png ">
  </div>

<div class="arabic-designs-slides">
  <ion-slides [options]="option">

    <ion-slide (click) ="editImage('assets/designs/graduation33.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation33.jpeg">
      </ion-card>
    </ion-slide>
    
    <ion-slide (click) ="editImage('assets/designs/graduation30.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation30.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation29.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation29.jpeg">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/graduation28.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation28.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation23.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation23.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/تخرج.jpg')">
      <ion-card>
        <img src="../assets/designs/تخرج.jpg">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/graduation34.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation34.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation35.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation35.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide (click) ="editImage('assets/designs/graduation36.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation36.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide (click) ="editImage('assets/designs/graduation37.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation37.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide (click) ="editImage('assets/designs/graduation38.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation38.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide (click) ="editImage('assets/designs/graduation39.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation39.jpeg">
      </ion-card>
    </ion-slide>
    <ion-slide (click) ="editImage('assets/designs/graduation40.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation40.jpeg">
      </ion-card>
    </ion-slide>
  
    <ion-slide (click) ="editImage('assets/designs/تخرج1.jpg')">
      <ion-card>
        <img src="../assets/designs/تخرج1.jpg">
      </ion-card>
    </ion-slide>

    

</ion-slides>
</div>
  

<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>

<div class="english-designs-slides">
  <ion-slides [options]="option">

    <ion-slide (click) ="editImage('assets/designs/16.jpg')">
      <ion-card>
        <img src="../assets/designs/16.jpg">
      </ion-card>
    </ion-slide>
    
    <ion-slide (click) ="editImage('assets/designs/grd5435.png')">
      <ion-card>
        <img src="../assets/designs/grd5435.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/GRD657.png')">
      <ion-card>
        <img src="../assets/designs/GRD657.png">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/graduation12.png')">
      <ion-card>
        <img src="../assets/designs/graduation12.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation11.png')">
      <ion-card>
        <img src="../assets/designs/graduation11.png">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/graduation14.png')">
      <ion-card>
        <img src="../assets/designs/graduation14.png">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/graduation17.png')">
      <ion-card>
        <img src="../assets/designs/graduation17.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation15.png')">
      <ion-card>
        <img src="../assets/designs/graduation15.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation20.png')">
      <ion-card>
        <img src="../assets/designs/graduation20.png">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation26.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation26.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation25.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation25.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation24.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation24.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation27.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation27.jpeg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/graduation32.jpeg')">
      <ion-card>
        <img src="../assets/designs/graduation32.jpeg">
      </ion-card>
    </ion-slide>
    
  </ion-slides>
</div>
        
</ion-content>  