<ion-header class="ion-no-border">
  <ion-toolbar color="asphalt">
      <ion-buttons slot="end">
          <ion-menu-button color="black" auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title color="black" size="large" class="ion-text-center">{{"PROFILE"|translate}}</ion-title>
       <ion-buttons slot="start">
          <ion-back-button color="light" text=" "></ion-back-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>


<ion-content class="backg">
  <ion-grid fixed class="ion-no-padding">
    <div class="login-form">


      <ion-text color="dark">
        <h2 text-center class="ion-margin-bottom main-header7">
          {{"ProfileDetail"|translate}}
        </h2>
    </ion-text>

    <form [formGroup]="updateForm" novalidate>

      <ion-list class="ion-margin-top ion-padding">
        <!-- The first item for First name -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="person-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input  type="text"  formControlName="firstname" color="black" [value]="(userDetail | async)?.firstname" placeholder="First Name | الاسم الأول" color="black"></ion-input>
        </ion-item>

        <!-- The second item for second name -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="people-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input type="text"  formControlName="lastname"  color="black" [value]="(userDetail | async)?.lastname" placeholder="Last Name | الاسم الأخير" color="black"></ion-input>
        </ion-item>

        <!-- The third item for the Email -->
        <ion-item  class="roundedInput8px margin-bottom-10">
          <ion-label>
            <ion-icon name="mail-outline" color="medium"></ion-icon>
            </ion-label>
          <ion-input type="text"  formControlName="email" color="black" [value]="(userDetail | async)?.email" placeholder="email | البريد الإلكتروني" color="black"></ion-input>
        </ion-item>
<!--
         The last item for the phone number 
        <ion-item  class="roundedInput8px margin-bottom-10">
            <ion-label>
              <ion-icon name="call-outline" color="medium"></ion-icon>
              </ion-label>
            <ion-input  type="text" formControlName="phone" color="black"  [value]="(userDetail | async)?.phone" placeholder="Phone Number | رقم الجوال" color="black"></ion-input>
          </ion-item>
        -->
      </ion-list>



          <!-- Error meassage -->
          <!--
           <p color="warning" *ngIf="!updateForm.controls.firstname.valid && updateForm.controls.firstname.touched">
              <ion-icon name="information-circle-outline"></ion-icon> {{"ProfileErrorMessage1"|translate}}
          </p>
          <p color="warning" *ngIf="!updateForm.controls.lastname.valid && updateForm.controls.lastname.touched">
              <ion-icon name="information-circle-outline"></ion-icon> {{"ProfileErrorMessage2"|translate}}
          </p>
          <p color="warning" *ngIf="!updateForm.controls.email.valid && updateForm.controls.email.touched">
            <ion-icon name="information-circle-outline"></ion-icon> {{"ProfileErrorMessage3"|translate}}
          </p>
          -->


          <ion-button mode="ios" color="black" fill="solid" expand="block" class="ion-margin-top"  (click)="updateProfile()">
            {{"UpdateProfile"|translate}}
          </ion-button>

          <ion-button mode="ios" color="gray" fill="solid" expand="block" class="ion-margin-top"  (click)="logout()">
             {{"SIGNout"|translate}}
          </ion-button>
         
    </form>

    </div>
  </ion-grid>
</ion-content>