
ion-fab-button{
    //--opacity:0 !important;
    --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.0);
    --background: rgba(var(--ion-color-primary-rgb, 56, 128, 255), 0.0);
    --background-hover: rgba(var(--ion-color-primary-rgb, 56, 128, 255), 0.0);
    --background-focused: rgba(var(--ion-color-primary-rgb, 56, 128, 255), 0.0);
    background-color: rgba(44, 39, 45, 0.0) !important;
}

ion-content {
    --background: rgba(44, 39, 45, 0.84);
}
 
ion-slides {
    height: 100%;
}