<ion-content fullscreen="true" (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition">
  <!-- ##############  Fading header  ############ -->
  <ion-header class="ion-no-border" slot="fixed">
    <ion-toolbar class="first" [class.show-background]="showToolbar">
      <ion-buttons color="light" slot="end">
        <ion-button color="light" (click)="close()">
          <ion-icon size="large" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!--*********** Image header  ***********-->
  <div class="detail-header" [ngStyle]="{'background-image': 'url(' + (place | async)?.image + ')'}">
    <!-- <h2 class="detail-name "> {{(item | async)?.name}}</h2>
  <div class="detail-price ">{{(item | async)?.phone}}</div> -->
    <!-- <div class="detail-title">{{(place | async)?.name}}
      <ion-icon style="font-size: 18px !important;" color="danger" *ngFor="let i of [0,1,2,3,4]"
      [name]="i < (place | async)?.rating  ? 'star' : 'star-outline'"></ion-icon>
    </div> -->
  </div>

  <!--*********** Title  ***********-->
  <div class="travel_space1">
    <ion-item lines="none">
      <ion-label text-wrap>
        <h1 class="travel_header1 detail-name">{{(place | async)?.name}}</h1>
        <h2 class="travel_header3 detail-price">
          {{(place | async)?.short_description}}
        </h2>
      </ion-label>
      <div slot="end">
        <ion-icon style="font-size: 18px !important;" color="danger" *ngFor="let i of [0,1,2,3,4]"
          [name]="i < (place | async)?.rating  ? 'star' : 'star-outline'"></ion-icon>
      </div>
    </ion-item>
  </div>
  <div class="horizontal-scroll ion-margin-bottom">
    <ion-chip *ngFor="let amenities of placeArray.amenities" outline="false" color="dark"> 
      <ion-icon name="checkmark-done-circle-outline" color="dark" size="small"></ion-icon>
      <ion-label>{{amenities.name}}</ion-label>
    </ion-chip>
    <!-- <ion-chip *ngFor="let amenities of (place | async)?.amenities"   outline=true >
      <div>
        <ion-label>{{amenities.name}}</ion-label>
      </div>
    </ion-chip> -->
  </div>
  <!--*********** Description ***********-->
  <div class="travel_space4">
    <p>
      {{(place | async)?.description}}
    </p>
  </div>
<!--  -->

  <!--*********** Contact  ***********-->
  <ion-item lines="none">
    <h1 class="main-header5">Contact</h1>
  </ion-item>
  <div class="ion-margin-top ion-margin-bottom">
    <!--  -->
    <ion-item lines="none">
      <ion-icon slot="start" name="location-outline" item-left></ion-icon>
      <ion-label>
        <h2>{{(place | async)?.address}}</h2>
        <p>Address</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="mail-outline" item-left></ion-icon>
      <ion-label>
        <h2>{{(place | async)?.email}}</h2>
        <p>Email</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="call-outline" item-left></ion-icon>
      <ion-label>
        <h2>+{{(place | async)?.phone}}</h2>
        <p>Phone number</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="globe-outline" item-left></ion-icon>
      <ion-label>
        <h2>{{(place | async)?.web}}</h2>
        <p>Website</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="calendar-outline" item-left></ion-icon>
      <ion-label>
        <h2>{{(place | async)?.status}}</h2>
        <p>Openning time</p>
      </ion-label>
    </ion-item>
<!--  -->
    <!-- <ion-item lines="none">
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-label>
        <ion-text color="dark">
          <h2 class="main-header8">Email</h2>
        </ion-text>

        <h2>{{(place | async)?.email}}</h2>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="phone-portrait-outline" slot="start"  color="medium">"></ion-icon>
      <ion-label>
        <ion-text color="dark">
          <h2 class="main-header8">Phone number</h2>
        </ion-text>
        <h2 color="medium">+{{(place | async)?.phone}}</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="earth-outline" slot="start" color="medium">></ion-icon>
      <ion-label>
        <ion-text color="dark">
          <h2 class="main-header8">Website</h2>
        </ion-text>

        <h2>{{(place | async)?.website}}</h2>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="calendar-outline" color="medium">></ion-icon>
      <ion-label>
        <ion-text color="dark">
          <h2 class="main-header8">Openning status</h2>
        </ion-text>
        <h2>{{(place | async)?.status}}</h2>

      </ion-label>
    </ion-item> -->
  </div>

    <!--*********** Features  ***********-->
    <!-- <ion-item lines="none">
      <h1 class="main-header5">Features</h1>
    </ion-item>
  
    <ion-item lines="none" *ngFor="let amenities of placeArray.amenities">
      <ion-icon name="checkmark-circle-outline" color="" size="" slot="start"></ion-icon>
      <ion-label>
        <p>
          {{amenities.name}}
        </p>
      </ion-label>
    </ion-item> -->
</ion-content>