<script src="libs/code-snippet.min.js"></script>
<script src="libs/jquery.min.js"></script>
<script src="../../../assets/js/black-theme.js"></script>


<ion-header>
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">تعديل الصورة</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="black" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tui-image-editor">
    <canvas></canvas>
  </div>
</ion-content>
<!-- 
<scritp>
  window.onresize = function () {
    imageEditor.ui.resizeEditor();
  };
</scritp> -->