@import url('http://fonts.googleapis.com/css?family=Noto+Sans');
@import url('http://fonts.cdnfonts.com/css/cairo');

body {
    height: 100%;
    margin: 0;
}

.hidden{
    display:none;
}
.tie-btn-zoomOut{
    display:none;
}

.tie-btn-zoomIn{
    display:none;
}

.tie-btn-hand{
    display:none;
}