<script src="libs/code-snippet.min.js"></script>
<script src="libs/jquery.min.js"></script>
<script src="../../../assets/js/black-theme.js"></script>


<ion-header>
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="main-header4">{{"edit"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)=" confirmMovingBack()">
        <ion-icon name="arrow-back-outline" slot="start" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <qrcode-svg id="qrcode" [ngStyle]="{'display': 'none'}" [margin]="4" [value]="qrvalue" [color]="'black'"
    [backgroundColor]="'white'">
  </qrcode-svg>
  <div id="tui-image-editor-container">
    <canvas></canvas>
  </div>
</ion-content>