
<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"EID2"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
 <!--This part to show arabic designs-->

 <div class="ion-text-center">
  <img class="pic" src="../assets/ar.png ">
</div>

<div class="arabic-designs-slides">
<ion-slides [options]="option">


      <ion-slide (click) ="editImage('assets/designs/4.jpg')">
        <ion-card>
          <img src="../assets/designs/4.jpg">
        </ion-card>
      </ion-slide>




    
      <ion-slide (click) ="editImage('assets/designs/13.jpg')">
        <ion-card>
          <img src="../assets/designs/13.jpg">
        </ion-card>
      </ion-slide>




    </ion-slides>


  </div>    

  
<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>


<div class="english-designs-slides">
  <ion-slides [options]="option">

      
  <ion-slide (click) ="editImage('assets/designs/14.jpg')">
    <ion-card>
      <img src="../assets/designs/14.jpg">
    </ion-card>
  </ion-slide>





  <ion-slide (click) ="editImage('assets/designs/15.jpg')">
    <ion-card>
      <img src="../assets/designs/15.jpg">
    </ion-card>
  </ion-slide>



  <ion-slide (click) ="editImage('assets/designs/17.jpg')">
    <ion-card>
      <img src="../assets/designs/17.jpg">
    </ion-card>
  </ion-slide>


  </ion-slides>
</div>
          
  </ion-content>  


