.img-item {
  background-color: #ddd;
  //border-radius: 8px;
}

.ion-buuton{
  font-size: 20px ;
}
ion-card{

  box-shadow: none;
  border-radius: 12px;
  background-color: #5260664f;
   }


  .backg{
    --background:none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/ram1.jpg');
   }