.backg{
    --ion-background-color:none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/ram1.jpg');
   }

   ion-card{
    width: 100%;
    height: 350px;
    box-shadow: none;
    border-radius: 12px;

    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1 , 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }

}


  .swiper-slide-active {
      transform: scale(1.05 , 1.05);

      ion-card{
        img{
            transform: scale(1 ,1);
        }
      }
  }

  .swiper-slide{
      transition: 400ms all ease-in-out;
}

.container {
    //text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
  }