
<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"BYEsingle"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  
  <!--This part to show arabic designs-->

  <div class="ion-text-center">
    <img class="pic" src="../assets/arabic.png ">
  </div>

<div class="arabic-designs-slides">
  <ion-slides [options]="option">


    <ion-slide (click) ="editImage('assets/designs/byesingle1.jpg')">
      <ion-card>
        <img src="../assets/designs/byesingle1.jpg">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/byesingle2.jpg')">
      <ion-card>
        <img src="../assets/designs/byesingle2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/byesingle3.jpg')">
      <ion-card>
        <img src="../assets/designs/byesingle3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/byesingle4.jpg')">
      <ion-card>
        <img src="../assets/designs/byesingle4.jpg">
      </ion-card>
    </ion-slide>
    

</ion-slides>
</div>
  

<!--This part to show english designs-->
<div class="ion-text-center">
  <img class="english-pic" src="../assets/en.png ">
</div>

<div class="english-designs-slides">
  <ion-slides [options]="option">
    
    <ion-slide (click) ="editImage('assets/designs/single party.png')">
      <ion-card>
        <img src="../assets/designs/single party.png">
      </ion-card>
    </ion-slide>
  


    <ion-slide (click) ="editImage('assets/designs/SNG1.PNG')">
      <ion-card>
        <img src="../assets/designs/SNG1.PNG">
      </ion-card>
    </ion-slide>




    <ion-slide (click) ="editImage('assets/designs/SNG2.PNG')">
      <ion-card>
        <img src="../assets/designs/SNG2.PNG">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/SNG4.PNG')">
      <ion-card>
        <img src="../assets/designs/SNG4.PNG">
      </ion-card>
    </ion-slide>


    <ion-slide (click) ="editImage('assets/designs/SNG6.PNG')">
      <ion-card>
        <img src="../assets/designs/SNG6.PNG">
      </ion-card>
    </ion-slide>



    <ion-slide (click) ="editImage('assets/designs/SNG7.PNG')">
      <ion-card>
        <img src="../assets/designs/SNG7.PNG">
      </ion-card>
    </ion-slide>

    <ion-slide (click) ="editImage('assets/designs/SNG8.PNG')">
      <ion-card>
        <img src="../assets/designs/SNG8.PNG">
      </ion-card>
    </ion-slide>











  </ion-slides>
</div>
        
</ion-content>  