
<ion-header >
  <ion-toolbar color="amethyst">
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title  class="main-header4">{{"EID2"|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" text=" " ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="backg" >
  <div class="arabic-designs-slides">
    <ion-slides [options]="option">
    
      <ion-slide (click) ="editImage('assets/designs/eidALhaj2.jpg')">
        <ion-card>
          <img src="../assets/designs/eidALhaj2.jpg">
        </ion-card>
      </ion-slide>

      <ion-slide (click) ="editImage('assets/designs/eidALhaj1.jpg')">
        <ion-card>
          <img src="../assets/designs/eidALhaj1.jpg">
        </ion-card>
      </ion-slide>




      <ion-slide (click) ="editImage('assets/designs/EM10.JPG')">
        <ion-card>
          <img src="../assets/designs/EM10.JPG">
        </ion-card>
      </ion-slide>


      <ion-slide (click) ="editImage('assets/designs/EM35.JPG')">
        <ion-card>
          <img src="../assets/designs/EM35.JPG">
        </ion-card>
      </ion-slide>




      <ion-slide (click) ="editImage('assets/designs/EM36.JPG')">
        <ion-card>
          <img src="../assets/designs/EM36.JPG">
        </ion-card>
      </ion-slide>




      <ion-slide (click) ="editImage('assets/designs/EM37.JPG')">
        <ion-card>
          <img src="../assets/designs/EM37.JPG">
        </ion-card>
      </ion-slide>




      </ion-slides>
      </div>
  </ion-content>