//***** show toolbar liner when showLiner = true ********//
ion-toolbar:last-child.show-liner {
  //.header-ios ion-toolbar:last-child
  --border-width: 0 0 0.55px;
}
ion-col {
    padding: 5px 5px 0px 5px; 
}
.content{
        background-color: #ddd;
}
ion-card.cardGrid{
  position: relative;
  text-align: center;
  margin: 12px 10px 0px 0px !important;
  width: 100% !important;
}
// ************ Main card ************//
ion-card {
  //display: inline-block;
  border-radius: 9px !important;
  // -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0)  !important;
  // box-shadow: 0 4px 16px rgba(0,0,0,0) !important;
}
// ************ Wide card ************//
.card-wide {
  // border-radius: 4px  !important;
  // width: 100% !important;
  height: 157px !important;
  margin: 10px 10px 0px 10px !important;
  background-color: #dddddd;
  // min-height: 150vh !important;
  // max-height: 160vh !important;
}
.card-wide-bg:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
.card-wide-bg {
  position: relative;
  height: 157px;
  background-color: #dddddd;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  background-position: center;
}
.card-wide-bg .card-wide-title {
  width: 100px;
  padding: 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens
  font-size: 22px;
  font-style: roboto;
  font-weight: 600;
  color: #ffffff;
  position: absolute;
  top: 25%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  text-align: center;
}
.card-wide-bg .card-wide-sub-title {
  width: 100px;
  padding: 0px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // This is where the magic happens
  font-size: 18px;
  font-style: roboto;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  top: 42%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  text-align: center;
}
